.agenda-entry {
  margin-top: $reg-space;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-bottom: $sm-space;
  border-bottom: $border-solid;

  .agenda-entry-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      margin: 0;
      padding: $sm-space 0;
    }
  }

  .event-container {
    border-top: $border-solid;
    padding-top: $sm-space;
    @include grid;
    .event-col {
      display: flex;
      flex-direction: column;
      a {
        border-bottom: none;
      }
      &:first-child {
        grid-column: #{$grid-first-third};

        p {
          margin-bottom: 0;
          border-bottom: $border-solid;
          padding: $xs-space;
          &:last-child {
            border-bottom: none;
          }
        }
      }
      grid-column: #{$grid-last-thirds};
      .show-counter {
        color: darken($secondary, 30%);
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .event-container {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    .event-col {
      width: 100%;
    }
  }
}
