@keyframes animationOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes animationAccordeon {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: fit-content;
  }
}
@keyframes gradient {
  0% {
    background-size: 100%;
    background-position: center;
  }

  100% {
    background-size: 400%;
    background-position: center;
  }
}
@keyframes transitionX {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes apparition {
  0% {
    color: $secondary;
  }

  100% {
    color: $txt-color;
  }
}

#chevron-icon.close {
  transform: rotate(-90deg);
}
