@keyframes animationOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes animationAccordeon {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: fit-content;
  }
}
