.article {
  h2:first-of-type {
    margin-top: 0;
  }

  .menstrual-reminder {
    margin-top: $reg-space * 2;
    padding: $reg-space;
    width: 100%;
    border-radius: $border-radius-soft;
    border: $border-solid $secondary;
    display: flex;
    flex-direction: column;
    gap: $reg-space * 2;

    h3 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }

    img {
      max-width: $chperline;
    }
  }

  ul {
    li {
      margin-bottom: 0.5rem;
    }
  }
}

.shema-container {
  padding: $reg-space;
  width: 100%;
  border-radius: $border-radius-soft;
  margin: $reg-space 0;
  border: $border-solid $secondary;
  align-items: center;

  h3 {
    margin: 0;
    padding: 0;
  }

  .shema {
    width: 100%;
  }
}

.article-container {
  @include grid;
  animation: animationOpacity 500ms ease-in;
  padding-top: 10vh;

  * {
    grid-column: #{$grid-center};
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .article-container {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .menstrual-reminder {
    margin-top: $reg-space * 2;
    padding: $reg-space;
    width: auto !important;

    img {
      max-width: 100% !important;
    }
  }

  .shema-container {
    width: auto;

    img {
      max-width: 100%;
    }
  }
}
