.author {
  @include grid;
  font-size: $smaller-text;
  * {
    grid-column: #{$grid-center};
  }
}

@media screen and (max-width: map-get($breakpoints, "lg")) {
  .author {
    * {
      grid-column: #{$grid-fullwidth};
    }
  }
}

.article {
  h2 {
    &:first-of-type {
      margin-top: 0;
    }
  }

  .menstrual-reminder {
    margin-top: $reg-space * 2;
    padding: $border-radius;
    border-radius: $border-radius;
    width: fit-content;
    border: $border-solid;
    // background-color: white;
    display: flex;
    flex-direction: column;
    gap: $reg-space * 2;
    h3 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
    img {
      max-width: $chperline;
    }
  }
  ul {
    li {
      margin-bottom: 0.5rem;
    }
  }
}

.article-container {
  @include grid;
  animation: animationOpacity 500ms ease-in;
  padding-top: 10vh;

  * {
    grid-column: #{$grid-center};
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .article-container {
    padding-top: 0;
    display: flex;
    flex-direction: column-reverse;
  }
}
