//FIXME REPETITION and media queries
/*-----Mobile-----*/
@media (max-width: 767px) {
  .breadcrumbs {
    display: flex;
    color: lighten($txt-color, 50%);
    .crumb {
      &:after {
        color: $txt-color;
        content: "→";
        padding: 0 $padding-xs;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

/*-----Desktop-----*/
@media (min-width: 768px) {
  .breadcrumbs {
    font-size: 80%;
    grid-column: 1/6;
    display: flex;
    color: lighten($txt-color, 50%);
    .crumb {
      &:after {
        color: $txt-color;
        content: "→";
        padding: 0 $padding-xs;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}
