.breadcrumbs {
  display: flex;
  color: lighten($txt-color, 50%);

  .crumb {
    a {
      color: darken($color6, 5%);
    }
    &:after {
      color: $txt-color;
      content: "→";
      padding: 0 $padding-xs;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .breadcrumbs {
    margin-top: $demi-gap;
    .crumb {
      a {
        white-space: nowrap;
      }
    }
  }
}

@media screen and (min-width: map-get($breakpoints, "sm")) {
  .breadcrumbs {
    font-size: 80%;
    grid-column: 1/6;
  }
}
