button,
.button {
  padding: $padding-btn;
  width: fit-content;
  height: fit-content !important;
  font-size: $font-size-basis;
  font-family: $font-regular;
  white-space: nowrap;
  color: $txt-color;
  cursor: url("../assets/images/cursor-pointer.svg"), auto;
  transition: background-color $animation-transition;
  background-color: transparent;
  border: $border-solid $secondary;
  border-radius: $border-radius;

  &.square {
    padding: 0.25em 0.5em;
  }

  &.showPassword {
    color: $txt-color;
    padding: $xs-space;
    align-items: center;
    border: none !important;

    &:hover {
      background-color: transparent;
      opacity: 80%;
    }
  }

  &:hover {
    color: $txt-color;
    background-color: $secondary;
    border: $border-solid $secondary;
  }

  &:disabled {
    opacity: 30%;
    pointer-events: none;
  }

  &:active {
    border: $border-solid lighten($secondary, 10%);
  }
}

.icon-button {
  padding: 0;
  border: none;
}

.share-button {
  display: flex;
  margin: 0.25em 0 1em;
  gap: 0.5em;

  a {
    border-bottom: 0;
  }
}
