button {
  @include button;
}

.button-countdown {
  margin: 1em 0 0;
  display: flex;
  gap: $gap;
  align-items: center;
  justify-content: left;
  p {
    padding: 0;
    margin: 0;
  }
}

.show-counter {
  color: $color3;
  display: flex;
  gap: $gap;
  div {
    display: flex;
  }
}

.action-container {
  display: flex;
  gap: $gap;

  .action-button {
    &.active {
      border: transparent;
      background-color: lighten($color3, 40%);
    }
  }
}
