@mixin button {
  padding: $padding-btn;
  border-radius: $border-radius;
  border: $border-solid $txt-color;
  background-color: transparent;
  font-size: $font-size-basis;
  font-family: $font-medium;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  white-space: nowrap;
  color: $txt-color;
  &.square {
    padding: 0.25em 0.5em;
  }

  &:hover {
    color: $txt-color;
    background-color: $secondary;
    border: $border-solid;
  }

  &:disabled {
    opacity: 30%;
    pointer-events: none;
  }
}

button {
  @include button;

  &.showPassword {
    color: $txt-color;
    padding: $xs-space;
    align-items: center;
    border: none !important;
    &:hover {
      background-color: transparent;
      opacity: 80%;
    }
  }
}
.icon-button {
  padding: 0;
  border: none;
}
.share-button {
  display: flex;
  margin: 0.25em 0 1em;
  gap: 0.5em;
  a {
    border-bottom: 0;
  }
}
