.card-grid {
  @include card-grid;
  .link-card {
    border-bottom: none;
    color: $txt-color;
    display: flex;
    .card {
      flex: max-content;
      @include card;
      h3 {
        text-align: center;
      }
      .card-date {
        text-align: center;
      }
    }
  }
}
