//TODO TO REFACTORE

.card-grid {
  @include grid;

  .link-card {
    border-bottom: none;
    color: $txt-color;
    display: flex;
    width: 100%;

    &:hover {
      .card {
        box-shadow: $elevation-4;
      }
    }

    .card {
      background-color: $bg-color;
      border: none;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;
      flex: max-content;
      box-shadow: $elevation-8;
      overflow: hidden;
      padding-bottom: $demi-gap;

      h2,
      h3,
      p {
        padding: 0 1rem;
      }

      h3 {
        margin-bottom: 0.5em;
      }

      h3 + p {
        padding-top: 0;
        margin-top: 0;
      }

      img {
        max-width: 100%;
      }

      .card-date,
      .card-location {
        text-align: center;
      }
    }

    &.article,
    &.ressource {
      .card {
        padding: $padding-sm;
        h2,
        h3,
        p {
          margin-top: 0;
          padding: 0;
        }

        p {
          margin-bottom: 0;
        }
      }
    }

    &.article {
      grid-column: span 2;
      .card {
        background: $gradient;
        overflow: hidden;
      }
    }

    &.ressource {
      .card {
        background-color: $color1;
      }
    }

    &.agenda {
      .card {
        display: flex;
        justify-content: space-between;

        h3 {
          text-align: center;
        }
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-size: 100%;
    background-position: center;
  }

  100% {
    background-size: 200%;
    background-position: center;
  }
}

.pending-event-card {
  @include form-section;
  padding: $demi-gap;
  margin: $demi-gap 0;
  height: fit-content;
  .collapsed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    p {
      margin-bottom: 0;
    }
  }
  .pending-event-detail {
    .pending-event-detail-content {
      margin-top: $demi-gap;
    }
  }
  .button-flex {
    display: flex;
    gap: $demi-gap;
    align-items: center;
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .card-grid {
    .link-card {
      &.article {
        margin-top: 0;
        grid-column: span 1 !important;
      }
    }
  }
}
