.card-grid {
  margin: $reg-space 0 $lg-space;
  @include grid;
}

.link-card {
  grid-column: span 3;
  width: 100%;
  display: flex;
  color: $txt-color;
  border-bottom: none;

  .card {
    display: flex;
    flex-direction: column;
    flex: max-content;
    overflow: hidden;
    background-color: $bg-color;
    border: $border-solid $secondary;
    border-radius: $border-radius-soft;

    h3 {
      margin: $reg-space;
      font-family: $font-regular;
    }

    img {
      width: 100%;
    }

    &:hover {
      transform: translateY(-0.5rem) scale(1.01);
    }
  }

  &:hover {
    .card {
      color: $primary;
    }
  }

  &.article {
    grid-column: span 6;

    .card {
      background: $gradient;
    }

    &.card {
      padding: $reg-space;
      text-align: center;
    }
  }
}

a.title-link {
  &:first-child {
    h3 {
      border-top: none;
      padding-top: 0;
    }
  }
  h3 {
    border-top: $border-solid $secondary;
    padding-top: $sm-space;
    padding-bottom: $reg-space;
    font-family: $font-regular;
    display: flex;
    justify-content: space-between;
    max-height: fit-content;
    cursor: pointer;

    &:after {
      content: "↗";
      color: $txt-color;
    }

    &:hover {
      color: $primary;

      &:after {
        color: $txt-color;
        transition: $animation-transition;
        transform: rotate(45deg);
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .card-grid {
    .link-card.article {
      margin-top: 0;
      grid-column: span 1 !important;
    }
  }
}
