.donation-banner {
  background-color: white;

  padding: $padding-sm;
  display: grid;
  @include grid;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  .donation-banner-content {
    h4 {
      margin-top: 0;
    }
    grid-column: 2/5;

    .button-link-container {
      display: flex;
      gap: $demi-gap;
      align-items: center;
      a {
        color: $txt-color;
        height: fit-content;
      }
    }
  }
}
