.donation-banner {
  border-top: $border-solid darken($bg-color, 10%);
  padding: $padding-sm;
  @include grid;
  align-items: center;
  justify-content: left;
  flex-direction: column;

  &-content {
    grid-column: #{$grid-center};

    h4 {
      margin-top: 0;
    }

    .button-link-container {
      display: flex;
      gap: $demi-gap;
      align-items: center;

      a {
        color: $txt-color;
        height: fit-content;
      }
    }
  }
}
