.exercises-container {
  // border-top: $border-solid $color1;
  .exercise {
    padding: $padding-sm 0;
    border-bottom: $border-solid $color1;

    h3 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }

    .exercise-closed {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .exercise-open {
      animation: animationOpacity $animation-transition ease-in;

      .exercise-img {
        border-radius: $border-radius;
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        margin-bottom: $gap;
      }
      .exercise-article {
        @include grid;
        margin: $gap 0;

        .prealable {
          font-family: $font-medium;
          color: darken($color6, 10%);

          hr {
            background-color: darken($color6, 10%);
          }
        }
        .instructions {
          grid-column: 2/4;
          padding: 0;

          .instructions-step {
            margin-bottom: $gap;

            .instructions-step-closed {
              display: flex;
              justify-content: space-between;
              h3 {
                margin-bottom: 0;
              }
            }

            .instructions-step-open {
              &:first-of-type {
                margin-top: $demi-gap;
              }
              animation: animationOpacity $animation-transition ease-in;
            }

            h3 {
              .counter {
                color: $color6;
              }
            }
            p {
              margin-bottom: $demi-gap;
            }
          }
        }
      }
    }
  }
}
