.exercises-container {
  grid-column: 1/5;

  .exercise {
    .exercise-closed {
      @include grid;
      border-bottom: $border-solid $secondary;
      padding: $sm-space 0;
      align-items: flex-end;
      h2 {
        grid-column: #{$grid-first-third};
      }
      h2,
      p {
        padding: 0;
        margin: 0;
      }
      p {
        grid-column: #{$grid-center};
      }
      button {
        grid-column: #{$grid-last-third};
      }
    }

    .exercise-open {
      animation: animationOpacity $animation-transition ease-in;

      .exercise-img {
        border-radius: $border-radius;
        width: 100%;
        aspect-ratio: 16/4.5;
        object-fit: cover;
        margin-bottom: $reg-space;
      }
      .exercise-article {
        @include grid;
        margin: $reg-space 0;

        .prealable {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-right: $sm-space;
          grid-column: #{$grid-first-third};
          border-bottom: $border-solid $secondary;
          p {
            margin-bottom: $sm-space;
          }
        }
        .instructions {
          grid-column: #{$grid-last-thirds};
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h3 {
            margin-top: 0;
          }

          .instructions-step {
            grid-column: #{$grid-center};
            margin-bottom: $reg-space;
            align-items: center;
            &:last-child {
              margin-bottom: 0;
            }

            .instructions-step-closed {
              display: flex;
              justify-content: space-between;
              h3 {
                margin-bottom: 0;
              }
            }

            .instructions-step-open {
              &:first-of-type {
                margin-top: $sm-space;
              }
              animation: animationOpacity $animation-transition ease-in;
            }
            p {
              padding: $reg-space;
              border-radius: $border-radius-soft;
              margin-bottom: $sm-space;
              border: $border-solid $secondary;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .exercise-article,
  .exercise-closed {
    * {
      grid-column: #{$grid-fullwidth} !important;
    }
  }
}
