footer {
  justify-content: center;
  align-items: center;
  gap: $sm-space;
  margin-top: 10vh;

  a {
    color: $txt-color;

    .logo {
      color: $primary;
      transition: color $animation-transition;
      &:hover {
        color: $txt-color;
      }
    }
  }

  .footer-main {
    @include grid;
    border-top: $border-solid;
    padding: $reg-space;

    .footer-column {
      display: flex;

      &:first-child {
        display: flex;
        flex-direction: column;
        gap: $sm-space;
        grid-column: #{$grid-first-third};

        .footer-main-buttons-container {
          display: flex;
          gap: $sm-space;
        }

        p {
          margin-bottom: 0;
        }
      }

      &:nth-child(2) {
        grid-column: #{$grid-last-thirds};
        display: flex;
        justify-content: flex-end;
        nav {
          display: flex;
          gap: $lg-space;
          text-transform: lowercase;

          a {
            width: fit-content;
            display: inline-block;
          }

          .nav-section {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: $border-solid;
    display: flex;
    justify-content: flex-end;
    gap: $sm-space;
    padding: $reg-space;

    .copyrights {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    .footer-main {
      flex-direction: column;
      .footer-main-buttons-container {
        flex-direction: column;
      }
      .footer-column {
        &:nth-child(2) {
          grid-column-start: 1;
          nav {
            flex-direction: column;
            gap: $reg-space;
          }
        }
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "md")) {
  .footer-column {
    .h3 {
      white-space: nowrap;
    }
    .footer-main-buttons-container {
      flex-direction: row;
      width: fit-content;
    }
    &:nth-child(2) {
      justify-content: flex-start !important;
    }
  }
}
