footer {
  margin-top: 20vh;
  justify-content: center;
  gap: $sm-space;
  background-color: $secondary;

  .h3 {
    margin-top: 0;
  }

  a {
    font-family: $font-regular;
    border-color: $txt-color;
  }

  .footer-main {
    @include grid;
    padding: $reg-space $reg-space 15vh $reg-space;
    align-items: flex-start;

    .footer-column {
      display: flex;
      flex-direction: column;
      gap: $sm-space;

      &:first-child {
        grid-column: #{$grid-first-third};
      }

      &:nth-child(2) {
        grid-column: #{$grid-last-third};

        nav {
          display: flex;
          gap: $lg-space;
          text-transform: lowercase;

          a {
            width: fit-content;
            display: inline-block;
          }

          .nav-section {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: flex-end;
    padding: $sm-space;

    .copyrights {
      margin-bottom: 0;
    }
  }
}

.banner {
  background-color: $tierary;
  padding: $sm-space 0;
  white-space: nowrap;
  width: 100%;
  margin-bottom: $lg-space;
  position: relative;
  overflow: hidden;
  height: 2rem;
  display: flex;
  align-items: center;

  .marquee-content {
    margin-bottom: 0;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    animation: transitionX 40s linear infinite;
    animation-delay: 0;
    animation-play-state: running;
    font-family: $font-regular;
    span {
      margin: 0 1rem;
    }
  }

  & + footer {
    margin: 0;
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .banner {
    padding: $sm-space 0;
    .h3 {
      font-size: 120%;
    }
  }

  footer {
    flex-direction: column;
    align-items: flex-start;

    .footer-main {
      flex-direction: column;
      padding: $reg-space $sm-space;

      .footer-main-buttons-container {
        flex-direction: column;
      }

      .footer-column {
        &:nth-child(2) {
          margin-top: $reg-space;
          grid-column-start: 1;
          align-items: flex-start;
          nav {
            flex-direction: column;
            gap: $reg-space;
          }
        }
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "md")) {
  .footer-column {
    .h3 {
      white-space: nowrap;
    }

    .footer-main-buttons-container {
      flex-direction: row;
      width: fit-content;
    }

    &:nth-child(2) {
      justify-content: flex-start !important;
    }
  }
}
