.filter-dashboard {
  padding: $padding-sm 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;

  .filter {
    display: flex;
    // flex-direction: row;
    align-items: top;
    gap: 1rem;
  }

  .filter-dropdown {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: left;
    .input-icon {
      display: flex;
      flex-direction: row;
      gap: 1em;
      align-items: center;
      #chevron-icon {
        &.open {
          transform: rotate(90deg);
          transition: $animation-transition;
        }
        &.close {
          transition: $animation-transition;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.filter,
.filter-dropdown {
  input {
    @include input;
  }
}

.no-suggestions {
  color: $color1;
}

.suggestions {
  border-top-width: 0;
  list-style: none;
  margin-top: 2px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);

  li {
    padding: $padding-xs $padding-xs $padding-xs 4.5rem;
    border-radius: $border-radius;

    :not(:last-of-type) {
      border-bottom: 1px solid $color3;
    }

    &:hover {
      color: $color3;
      cursor: pointer;
    }
  }

  .suggestion-active {
    color: $color3;
    cursor: pointer;
  }
}

form {
  margin: 2em 0;

  &.grid-form {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, max-content);

    .user-type {
      grid-column: 1/5;
      display: flex;
      gap: 2em;
    }
    .user-name-label {
      grid-column: 1/2;
      display: flex;
      align-items: center;
    }
    .user-name-input {
      grid-column: 2/3;
      input {
        @include input;
      }
    }
    .user-firstname-label {
      display: flex;
      align-items: center;
      grid-column: 3/4;
    }

    .user-firstname-input {
      input {
        @include input;
      }
    }
    .user-email-label {
      display: flex;
      align-items: center;
    }
    .user-email-input {
      input {
        @include input;
      }
    }
    .user-avatar-label {
      display: flex;
      align-items: center;
      grid-column: 1/2;
    }
    .user-avatar-input {
      input {
        @include input;
      }
    }
    .user-avatar-button {
      display: flex;
      align-items: center;
    }
    .user-password-label {
      display: flex;
      align-items: center;
      grid-column: 1/2;
    }

    .user-password-input {
      input {
        @include input;
      }
    }
    .user-password-requirements {
      display: flex;
      align-items: center;
      grid-column: 3/5;
    }
    .conditions-generales {
      grid-column: 1/5;
    }
    .submit-button {
      grid-column: 1/2;
    }
  }
}

.user-avatar {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: flex;
  object-fit: cover;
}

.avatar-placeholder {
  background-image: url("../assets/images/default-avatar.jpg");
  background-size: contain;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
