.filter-dashboard {
  padding: $padding-sm 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;

  .filter {
    display: flex;
    // flex-direction: row;
    align-items: top;
    gap: 1rem;
  }

  .filter-dropdown {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: left;
    .input-icon {
      display: flex;
      flex-direction: row;
      gap: 1em;
      align-items: center;
      #chevron-icon {
        &.open {
          transform: rotate(90deg);
          transition: $animation-transition;
        }
        &.close {
          transition: $animation-transition;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.filter,
.filter-dropdown {
  input {
    @include input;
  }
}

.no-suggestions {
  color: $color1;
}

.suggestions {
  border-top-width: 0;
  list-style: none;
  margin-top: 2px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);

  li {
    padding: $padding-xs $padding-xs $padding-xs 4.5rem;
    border-radius: $border-radius;

    :not(:last-of-type) {
      border-bottom: 1px solid $color3;
    }

    &:hover {
      color: $color3;
      cursor: pointer;
    }
  }

  .suggestion-active {
    color: $color3;
    cursor: pointer;
  }
}

form {
  padding: 1em;
  margin: 1em 0;
  &.grid-form {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 1em;
  }

  div {
    display: flex;
    gap: 2em;
    align-items: center;
    input {
      @include input;
    }
  }
}
