.lexique-list {
  padding-left: 0;
  grid-column: #{$grid-second-half};
  @media screen and (max-width: map-get($breakpoints, "sm")) {
    grid-column: #{$grid-fullwidth};
  }

  .lexique-list-item {
    align-items: flex-start;
    gap: $reg-space;
    list-style: none;
    margin: $reg-space 0;

    img {
      width: 100%;
      aspect-ratio: 3/2;
      object-fit: cover;
      border-radius: $border-radius;
      margin-bottom: $sm-space;
    }

    img + div {
      h2 {
        margin-top: 0;
      }

      .relatedPains {
        margin: $sm-space 0;
      }
    }
  }
}

a.term {
  span {
    color: $txt-color;
  }
}

.allLexique-term-container {
  @include grid;
  h1 {
    grid-column: #{$grid-last-thirds};
    @media screen and (max-width: map-get($breakpoints, "lg")) {
      grid-column: #{$grid-fullwidth};
    }
  }
  .glossary-dashboard-column {
    position: relative;
    grid-column: #{$grid-first-third};
    .fixed {
      @include stick;
    }

    .letter-link-container {
      margin-top: $reg-space;
      display: grid;
      gap: $sm-space;
      grid-template-columns: repeat(6, 1fr);
      height: fit-content;
      width: fit-content;

      .letter-link {
        font-size: 110%;
        border: $border-solid transparent;
        border-radius: $border-radius;
        padding: 0.1em 0.4em;
        width: 1em;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          border: $border-solid $secondary;
          border-radius: $border-radius;
        }

        &.disabled {
          cursor: default;
          opacity: 40%;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    form {
      display: flex;
      margin-top: 0;
      align-items: center;
      gap: $sm-space;
    }
  }

  .glossary-column {
    grid-column: #{$grid-center};

    .letter-title:first-of-type {
      .h1 {
        margin-top: 0;
      }
    }
    .h1 {
      border-top: $border-solid $secondary;
      margin-top: 4rem;
      padding-top: 1rem;
      font-family: $font-logo;

      a {
        color: $txt-color;
        border-bottom: 0;
      }
    }
    h3 {
      margin-bottom: 0.75rem;
    }

    .allLexique-term {
      .related-pain-container {
        display: flex;
        flex-wrap: wrap;
        line-height: 1;
        margin-bottom: $sm-space;
        gap: $sm-space;
        .related-pain {
          border-bottom: $border-solid lighten($primary, 20%);
          a {
            border-bottom: none;
          }
        }
      }

      img {
        margin: $sm-space 0;
        border-radius: $border-radius;
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .lexique-list-item {
    flex-direction: column;
    gap: 0 !important;

    img {
      width: 100% !important;
    }
  }

  .glossary-dashboard-column {
    margin-top: $reg-space;
  }

  .glossary-column {
    grid-column: #{$grid-fullwidth} !important;
  }
}
