.grid-area {
  @include grid;
  .centered {
    grid-column: #{$grid-center};
  }
}

.floater-container {
  align-items: center;
  @include grid;

  .floater {
    grid-column: 4/9;
  }
  img {
    grid-column: 9/13;
    max-width: 100%;
  }
}

@media screen and (max-width: map-get($breakpoints, "lg")) {
  .grid-area {
    .centered {
      grid-column: #{$grid-fullwidth};
    }
  }
}
