.grid-area {
  @include grid;
  .centered {
    grid-column: #{$grid-center};
  }
}

.sider {
  grid-column: #{$grid-second-half};
  @media screen and (max-width: map-get($breakpoints, "lg")) {
    grid-column: #{$grid-fullwidth};
  }
}

.title-aside-container {
  @include grid;
  margin: 4rem 0 2rem;
  align-items: flex-start;
  figure,
  img {
    grid-column: #{$grid-first-half};
    max-width: 80%;
  }

  &:not(:first-child) {
    border-top: $border-solid $secondary;
    padding-top: $reg-space;
  }
  h1,
  h2,
  h3,
  h4 {
    grid-column: #{$grid-first-half};
    margin: 0;
    padding: 0;
  }

  div {
    padding-top: 0.75rem;
    grid-column: #{$grid-second-half};

    h3 {
      line-height: 2;
    }
  }

  @media screen and (max-width: map-get($breakpoints, "lg")) {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: map-get($breakpoints, "lg")) {
  .grid-area {
    .centered {
      grid-column: #{$grid-fullwidth};
    }
  }

  .floater-container {
    .floater,
    img {
      grid-column: #{$grid-fullwidth};
    }
  }
}
