header {
  z-index: 1;
  @include grid;
  padding: 0 $reg-space;

  * {
    white-space: nowrap;
  }

  .logo {
    font-size: 1.5rem;
    font-family: $font-logo;
    color: $primary;
    text-decoration: none;
    display: flex;
    align-items: center;
    grid-column: 1/3;
    border: none;
    text-transform: lowercase !important;
  }

  .login {
    border-bottom: none !important;
    &:hover {
      border-bottom: none !important;
    }
  }

  .burger-menu {
    display: none;
  }

  nav.horizontal {
    grid-column: #{$grid-last-thirds};

    ul {
      align-items: center;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding-left: 0;

      li {
        margin-left: 0;
        list-style: none;
        display: flex;
        text-transform: lowercase;

        a {
          font-family: $font-medium;
          color: $txt-color;
          text-decoration: none;
          border: none;
          white-space: nowrap;

          &.active,
          &:hover {
            border-bottom: $border-solid $quarterary;
          }
        }

        .profile-in-header {
          display: flex;
          align-items: center;
          gap: $reg-space;
          a {
            border-bottom: none;
          }

          a {
            padding: 0.2em 1.5em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.25em;

            &:hover {
              background-color: transparent;
              border-bottom: none !important;

              .user-dot {
                background-color: $quarterary;
              }
            }

            .user-dot {
              background-color: $primary;
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
            }

            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "lg")) {
  header {
    padding: $sm-space;
    height: fit-content;
    background-color: $bg-color;
    border-bottom: $border-solid $txt-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: fixed;
    left: 0;
    right: 0;
    width: auto;
    z-index: 9999;

    .logo {
      z-index: 999;
      color: $primary;
    }

    .burger-menu {
      justify-self: flex-start;
      position: flex;
      z-index: 99;
      border: 0;
      display: flex;
      gap: 0.5em;
      align-items: center;
      justify-content: space-between;
      padding: 0;

      &:hover {
        background-color: transparent;
      }

      #nav-icon {
        width: 30px;
        height: 21px;
        position: relative;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: url("../assets/images/cursor-pointer.svg"), auto;

        span {
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background: $txt-color;
          // border-radius: $border-radius;
          transform: rotate(0deg);
          transition: 0.25s ease-in-out;

          &:nth-child(2),
          &:nth-child(3) {
            top: 9px;
          }

          &:nth-child(4) {
            top: 18px;
          }
        }

        &.open {
          span {
            &:nth-child(1) {
              top: 18px;
              width: 0%;
              left: 50%;
            }
            &:nth-child(2) {
              transform: rotate(45deg);
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
            }
            &:nth-child(4) {
              top: 18px;
              width: 0%;
              left: 50%;
            }
          }
        }
      }
    }

    nav {
      &.horizontal {
        display: none;
      }

      &.vertical {
        --font-size: 1.25rem;
        position: absolute;
        margin: 0;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        background: $bg-color;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        max-width: 100vw;
        font-size: var(--font-size);

        button {
          font-size: var(--font-size);
        }

        ul {
          padding: $sm-space;
          margin-left: 0;
          flex-direction: column;

          li {
            // font-size: 140%;
            list-style: none;
            line-height: 3;

            a {
              padding: 0;
              border-bottom: none;
              color: $txt-color;
            }

            .profile-in-header {
              margin-top: $sm-space;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: $sm-space;
              border-top: $border-solid $txt-color;
              padding-top: $reg-space;
              // button {
              //   font-size: 140% !important;
              // }

              a {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.25em;
                flex-direction: row-reverse;

                &:hover {
                  background-color: transparent;
                }

                .user-dot {
                  border: $border-solid;
                  padding: $xs-space;
                  border-radius: 50%;
                  aspect-ratio: 1/1;
                  &:hover {
                    cursor: url("../assets/images/cursor-pointer.svg"), auto;
                  }
                }
                p {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
