img {
  // filter: hue-rotate(5deg) brightness(1.1) contrast(1.1);
  // mix-blend-mode: multiply;
  mix-blend-mode: multiply;
}

.pain-illu-cover {
  width: 100%;
  border-radius: $border-radius-soft;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: cover;

  @media screen and (max-width: map-get($breakpoints, "sm")) {
    aspect-ratio: 3/2;
  }
}

.img-holder {
  border-radius: 50%;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
  img {
    max-width: 100%;
  }

  span {
    padding-top: 0.5rem;
    padding-right: $border-radius;
    font-size: $smaller-text;
    margin: 0;
    font-style: normal;
    height: fit-content;

    a {
      width: fit-content;
      font-style: normal;
    }
  }
}

.article-illustration-container {
  width: $chperline;
  margin: $reg-space 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .article-illustration {
    height: 40vh;
  }
}

.avatar-button-container {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $sm-space;

  .user-avatar,
  .avatar-placeholder {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: $primary;
    object-fit: cover;
  }
}

.illu-animation-xl {
  border-radius: $border-radius-soft;
  margin: $reg-space 0;
  max-width: $chperline;
}
