.pain-illu-cover {
  width: 100%;
  border-radius: $border-radius;
  aspect-ratio: 16/6;
  object-fit: cover;
}

figure {
  margin: 0;
  padding: 0;

  span {
    margin: 0;
    font-family: $font-medium-italic;
    font-style: normal;
    height: fit-content;

    a {
      width: fit-content;
      font-family: $font-medium-italic;
      width: fit-content;
      font-style: normal;
    }
  }
}
