.pain-illu-cover {
  width: 100%;
  border-radius: $border-radius;
  aspect-ratio: 16/6;
  object-fit: cover;

  @media screen and (max-width: map-get($breakpoints, "sm")) {
    aspect-ratio: 3/2;
  }
}

.img-holder {
  border-radius: 50%;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  span {
    font-family: $font-regular-italic;
    margin: 0;
    font-style: normal;
    height: fit-content;

    a {
      width: fit-content;
      font-family: $font-regular-italic;
      width: fit-content;
      font-style: normal;
    }
  }
}

.article-illustration-container {
  width: 70ch;
  display: flex;
  align-items: center;
  justify-content: center;
  .article-illustration {
    height: 40vh;
  }
}
