.grid-area {
  @include grid;
}

/*-----Pain page----*/

.two-cols-flex-center {
  display: flex;
  gap: $gap;
  align-items: center;
  margin: $gap 0;
  img {
    aspect-ratio: 3/2;
  }
}

.auteurice {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-left: -3em;
  .img-holder {
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    border: $border-solid $color2;
    background: linear-gradient(90deg, #ff0000 0%, #7d9c00 100%),
      linear-gradient(238.72deg, #ebff00 0%, #7700d5 100%),
      linear-gradient(64.82deg, #ad00ff 0%, #ff0000 100%),
      linear-gradient(65.03deg, #00b2ff 0%, #ff0000 99.79%),
      radial-gradient(100% 144.76% at 0% 0%, #ff0000 0%, #1400ff 100%),
      radial-gradient(100% 140% at 100% 0%, #a6ff60 0%, #2700c1 100%);
    background-blend-mode: overlay, color-dodge, difference, lighten,
      color-dodge, normal;
  }

  em {
    font-style: normal;
    font-family: $font-medium-italic;
    a {
      font-style: normal;
      font-family: $font-medium-italic;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .auteurice {
    margin-left: 0;
  }
}

.pain-img,
.event-img {
  width: 100%;
  border-radius: $border-radius;
  object-fit: cover;
}

/*-----Event page----*/

.event-img-text {
  font-size: 80%;
}

/*-----Lexique page----*/
.lexique-list {
  padding-left: 0;
  .lexique-list-item {
    list-style: none;
  }
}
