.grid-area {
  @include grid;
}

/*-----Pain page----*/

.two-cols-flex-center {
  display: flex;
  gap: $gap;
  align-items: center;
  margin: $gap 0;
  img {
    aspect-ratio: 3/2;
  }
}

.auteurice {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-left: -3em;
  .img-holder {
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    background: $gradient;
  }

  em {
    font-style: normal;
    font-family: $font-medium-italic;
    a {
      font-style: normal;
      font-family: $font-medium-italic;
    }
  }
}

.pain-img,
.event-img {
  width: 100%;
  border-radius: $border-radius;
  object-fit: cover;
}

/*-----Event page----*/

.event-img-text {
  font-size: 80%;
}

/*-----Lexique page----*/
.lexique-list {
  padding-left: 0;
  .lexique-list-item {
    list-style: none;
  }
}
