// painLexique

.lexique-list {
  padding-left: 0;

  .lexique-list-item {
    display: flex;
    align-items: flex-start;
    gap: $gap;
    list-style: none;
    width: 90vw;

    img {
      width: 40%;
      aspect-ratio: 3/2;
      object-fit: cover;
      border-radius: $border-radius;
      margin-bottom: $demi-gap;
    }

    div {
      h2 {
        margin-top: 0;
      }

      .relatedPains {
        margin: $demi-gap 0;
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .lexique-list-item {
    flex-direction: column;
    gap: 0 !important;

    img {
      width: 100% !important;
    }
  }
}

//allLexique
.allLexique-term-container {
  @include grid;

  .glossary-dashboard-column {
    .letter-link-container {
      display: grid;
      gap: $gap;
      grid-template-columns: repeat(6, 1fr);
      height: fit-content;
      padding-right: $gap;

      .letter-link {
        font-size: 120%;
        border-bottom: 0;

        border-radius: $border-radius;
        padding: 0.1em 0.4em;
        &.disabled {
          cursor: default;
          opacity: 40%;
          &:focus {
            border: none;
          }
          &:hover {
            background-color: transparent;
          }
        }
        &:hover {
          background-color: lighten($color1, 35%);
          border-radius: $border-radius;
        }
      }
    }

    form {
      background-color: yellow;
      display: flex;
      gap: $demi-gap;

      margin-top: 0;
      input {
        width: 100%;
      }
    }
  }

  .glossary-column {
    grid-column: 2/4;

    .letter-title:first-of-type {
      .h1 {
        margin-top: 0;
      }
    }
    .h1 {
      border-top: $border-solid darken($bg-color, 10%);
      margin-top: 4rem;
      padding-top: 1rem;
      font-family: $font-logo;

      a {
        color: $txt-color;
        border-bottom: 0;
      }
    }
    .allLexique-term {
      h4 {
        margin-top: 0;
        padding-top: 0;
      }
      grid-column: 2/4;

      img {
        margin: $demi-gap 0;
        border-radius: $border-radius;
      }
    }
  }
}
