$success-color: mediumseagreen;
$reminder-color: DarkGoldenRod;
$pending-color: mediumslateblue;
// $warning-color: indianred;
$error-color: crimson;
$archived-color: dimgrey;
// $info-color: steelblue;

.msg {
  margin: $reg-space 0;
  width: fit-content;
  font-family: $font-medium;
  display: flex;
  gap: 0.5em;
  border-radius: $border-radius;
  padding: $padding-btn;
  border: $border-solid lighten($primary, 30%);
  * {
    margin-bottom: 0;
  }
  &.success {
    color: $success-color;
    &:before {
      content: ("👏  ");
    }
  }

  &.reminder {
    color: $reminder-color;
    &:before {
      content: ("🔔  ");
    }
  }

  &.pending {
    color: $pending-color;
    &:before {
      content: ("⌛  ");
    }
  }

  &.warning {
    &:before {
      content: url("../assets/images/warning-icon.svg");
      width: 20px;
      height: 20px;
      padding-top: 2.5px;
    }
  }

  &.archived {
    color: $archived-color;
    &:before {
      content: ("📁  ");
    }
  }

  &.error {
    color: $error-color;
    &:before {
      content: ("🚨  ");
    }
  }

  &.info {
    &:before {
      content: url("../assets/images/info-icon.svg");
      width: 20px;
      height: 20px;
      padding-top: 2.5px;
    }
  }
}

.error-list {
  display: none;
  & li {
    margin: 0;
    padding: 0;
  }
}

.error-list:not(:empty) {
  display: block;
  padding: 0;
  line-height: 2;
  color: $error-color;
  grid-column: 1/6;
  li {
    font-family: $font-medium;
    list-style: none;
    &:before {
      content: ("🚨  ");
    }
  }
}

.redirection {
  width: fit-content;
  a {
    border-bottom: none;
    padding-left: 16px; /* Add padding to create space */
  }
  &:before {
    position: absolute;
    content: "↗";
    transition: $animation-transition;
  }
  &:hover:before {
    transform: rotate(45deg);
  }
}
