.msg {
  margin: $gap 0;
  font-family: $font-medium;
  &.success {
    color: $success-color;
    &:before {
      content: ("👏  ");
    }
  }

  &.pending {
    color: $pending-color;
    &:before {
      content: ("⌛  ");
    }
  }

  &.warning {
    color: $warning-color;
    &:before {
      content: ("⚠️  ");
    }
  }

  &.error {
    color: $error-color;
    &:before {
      content: ("❌  ");
    }
  }
}
