$success-color: mediumseagreen;
$reminder-color: DarkGoldenRod;
$pending-color: $secondary;
$warning-color: $primary;
$error-color: crimson;
$archived-color: dimgrey;

.msg-box {
  margin: $reg-space 0;
  display: flex;
  gap: $xs-space;
  flex-wrap: wrap;
  * {
    margin: 0;
    white-space: nowrap;
    height: fit-content;
  }
}

.msg {
  width: fit-content;
  display: flex;
  gap: 0.5em;
  // border-radius: $border-radius;
  padding: $padding-btn;
  align-items: center;

  * {
    padding: 0;
    margin: 0;
  }

  &.success {
    color: $success-color;
    &.bordered {
      border: $border-solid lighten($success-color, 30%);
    }

    &:before {
      content: ("👏  ");
    }
  }

  &.reminder {
    color: $reminder-color;
    &.bordered {
      border: $border-solid lighten($reminder-color, 30%);
    }

    &:before {
      content: ("🔔  ");
    }
  }

  &.pending {
    color: $pending-color;
    &.bordered {
      border: $border-solid lighten($pending-color, 30%);
    }
    &:before {
      content: ("⌛  ");
    }
  }

  &.warning {
    border-bottom: $border-solid $warning-color;

    &:before {
      content: ("⚠️  ");
      width: 20px;
      height: auto;
    }
  }

  &.archived {
    color: $archived-color;
    &.bordered {
      border: $border-solid lighten($archived-color, 30%);
    }
    &:before {
      content: ("📁  ");
    }
  }

  &.error {
    color: $error-color;
    &.bordered {
      border: $border-solid lighten($error-color, 30%);
    }
  }

  &.info {
    &:before {
      content: url("../assets/images/icon-info.svg");
      width: 20px;
      height: 20px;
      padding-top: 2.5px;
    }
  }
}

.error-list {
  display: none;
  & li {
    margin: 0;
    padding: 0;
  }
}

.error-list:not(:empty) {
  display: block;
  padding: 0;
  line-height: 2;
  color: $error-color;
  grid-column: 1/6;
  li {
    font-family: $font-medium;
    list-style: none;
    &:before {
      content: ("🚨  ");
    }
  }
}

.redirection {
  width: fit-content;
  a {
    border-bottom: none;
    padding-left: 16px; /* Add padding to create space */
  }
  &:before {
    position: absolute;
    content: "↗";
    transition: $animation-transition;
  }
  &:hover:before {
    transform: rotate(45deg);
  }
}
