@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: $sm-space;

  @media screen and (max-width: map-get($breakpoints, "sm")) {
    grid-template-columns: 1fr;
  }
}

@mixin lighter-bloc($color) {
  background-color: lighten($color, 15%);
  border: $border-solid lighten($color, 10%);
}

@mixin stick {
  position: fixed;
  top: 48vh;
  transform: translateY(-48%);
  transition: transform 0.5s ease-in;
}
