/*-----Links-----*/

@mixin navlink {
  color: $txt-color;
  text-decoration: none;
  padding: $padding-btn;
  border-radius: $border-radius;
  border: none;
  &:hover {
    background-color: lighten($color2, 30%);
  }

  &.active {
    background-color: lighten($color1, 30%);
  }
}

/*-----Buttons-----*/

@mixin button {
  padding: 0.5em 1em;
  border-radius: $border-radius;
  border: $border-solid;
  background-color: $bg-color;
  font-size: $font-size-basis;
  font-family: $font;
  cursor: pointer;

  &:hover {
    background-color: lighten($color2, 30%);
    border: transparent $border-solid;
  }

  &:disabled {
    background-color: $bg-color;
    opacity: 60%;
    cursor: auto;
    border: $border-solid;
  }
}

/*-----Grid-----*/

@mixin grid {
  display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  //grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  //grid-template-rows: masonry;
  gap: $gap;
}

/*-----Cards-----*/

// THIS IS WEIRD NEED TO BE IMPROVED

@mixin card-grid {
  @include grid;
  padding-bottom: 1rem;
}

@mixin card {
  border: $border-solid $color3;
  border-radius: $border-radius;
  padding: $padding-sm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    padding: 0;
  }
}

/*-----Separators-----*/

@mixin hr {
  content: "";
  border: 1px solid $color1;
  align-self: stretch;
  border-radius: 1px;
}
