/*-----Links-----*/

@mixin navlink {
  font-family: $font-medium;
  color: $txt-color;
  text-decoration: none;
  padding: $padding-btn;
  border-radius: $border-radius;
  border: none;
  &:hover {
    background-color: lighten($color2, 30%);
  }
  &.active {
    background-color: lighten($color1, 30%);
  }
}

/*-----Grid-----*/

@mixin grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $gap;

  @media screen and (max-width: map-get($breakpoints, "sm")) {
    grid-template-columns: 1fr;
  }
}

/*-----Forms-----*/

@mixin form-section {
  grid-column: 1/2;
  background-color: lighten($color3, 40%);
  border-radius: $border-radius;
  border: $border-solid lighten($color3, 20%);
}

/*-----Inputs-----*/

@mixin input {
  color: $txt-color;
  border: $border-solid $color3;
  border-radius: $border-radius;
  font-family: $font-regular;
  font-size: 100%;
  background-color: $bg-color;
  padding: $padding-xs;
  width: 300px;
  &:focus {
    outline: none;
    border: $border-solid lighten($color3, 20%);
  }
}

/*-----Stick-----*/
@mixin stick {
  position: fixed;
  top: 48vh;
  transform: translateY(-48%);
  transition: transform 0.5s ease-in;
}
