.category-submenu {
  width: 30vh;
  margin-top: 0;
  grid-column: 1/4 !important;
  position: relative;
  margin-left: $reg-space;

  .h4 {
    margin-top: 0;
  }
  ul {
    padding-left: 20px;
    list-style-position: inside;
  }
  li {
    white-space: nowrap;
    font-family: $font-medium;
    font-weight: 400;
    position: relative;
    line-height: 1.75;

    a {
      color: $txt-color;
      border: none;
    }

    &:before {
      position: absolute;
      left: -20px;
      content: "↗";
      transition: $animation-transition;
    }

    &:hover {
      &:before {
        transform: rotate(45deg);
      }
    }
    list-style: none;
  }

  &.fixed {
    @include stick;
  }
}
.share-button {
  a {
    svg {
      border: $border-solid transparent;
      transition: none;
      &:hover {
        border-color: $txt-color;
        height: auto;
        border-radius: 50%;
      }
    }
  }

  .copy-url-button-container {
    $color: $secondary;
    display: flex;
    align-items: top;
    gap: 0.5em;

    .copy-url-button {
      background-color: $color;
      .link-icon {
        color: $txt-color;
      }
      &:hover {
        border: $border-solid $txt-color !important;
      }
    }

    p {
      margin-bottom: 0;
      white-space: nowrap;
      height: fit-content;
    }
  }
}
.copy-url-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none !important;
  display: flex !important;
  align-items: center;
  justify-content: center;

  .link-icon {
    max-width: 60%;
    color: white;
  }
}
.tabbed-navigation-banner {
  display: flex;
  flex-direction: column;
}
.tabbed-navigation-container {
  margin: $sm-space 0;
  z-index: 99;
  top: 0;
  height: fit-content;
  width: 100%;
  transition: none;
  &.profil {
    height: fit-content;
    background-color: transparent !important;
    z-index: 1;
    position: relative;
    max-width: 100%;
  }

  &.sticky {
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 66vw;
    align-self: center;
    justify-self: center;
    transition: width 400ms ease-out;
    & + .article-container {
      padding-top: 10vh;
    }
  }

  .tabbed-navigation {
    background-color: $bg-color;
    border: $border-solid $secondary;
    display: flex;
    justify-content: flex-start;
    border-radius: $border-radius;
    text-align: center;
    white-space: nowrap;
    overflow: auto;

    p {
      display: flex;
      align-items: center;
      padding: 0.5em 1.5em;
      margin-bottom: 0;
      opacity: 30%;
    }
    a {
      color: $txt-color;
      padding: 0.5em 1.5em;
      transition: $animation-transition;
      display: inline-flex;
      position: relative;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: $border-radius;
      line-height: 2rem;
      text-decoration: initial;
      cursor: url("../assets/images/cursor-pointer.svg"), auto;
      vertical-align: middle;

      &:hover {
        background-color: lighten($secondary, 20%);
      }
      &.active {
        background-color: $secondary;
        &:hover {
          background-color: darken($secondary, 5%);
        }
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .category-submenu {
    width: auto;
    border-top: $border-solid;
    padding-top: $reg-space;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse !important;
    li {
      margin-left: $sm-space;
    }
  }
  .tabbed-navigation-container {
    background-color: $bg-color;
    height: 69px;
    display: flex;
    align-items: center;
    z-index: 999999;
    .tabbed-navigation {
      width: 100%;
    }
    &.sticky {
      width: 100vw;
    }
  }
}
