.userProfile-info {
  display: flex;
  gap: $gap;
  align-items: center;
  padding: $padding-sm 0;

  .userProfile-avatar {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
  }
}
