.userProfile-info {
  display: flex;
  gap: $reg-space;
  align-items: center;
  padding: $reg-space 0;
  justify-content: center;

  .userProfile-avatar {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .userProfile-info {
    flex-direction: column;
    align-items: flex-start;
    gap: $sm-space;
  }
}
