.source {
  font-family: $font-regular-italic;
  color: $txt-color;
  display: block;
  word-wrap: break-word;
  @include dotted-border;

  &:hover {
    @include dotted-border;
  }
  &:focus {
    border: 0;
    outline: 0;
  }
}

.source-ref {
  margin-top: $gap;
  border-top: $border-solid;
  max-width: 70ch;
  ul {
    padding-left: 0;
    display: grid;
    gap: 0.25rem;
    li {
      display: grid;
      grid-template-columns: 0 1fr;
      gap: 1.75em;
      align-items: start;
      font-size: 80%;
      line-height: $lineheight;
      &:before {
        content: attr(data-icon);
      }
      .source-title {
        font-family: $font-medium-italic;
      }
    }
  }
}
