@mixin dotted-border {
  position: relative;
  border-bottom: 3px solid transparent;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2' width='2' height='2'%3E%3Ccircle cx='1' cy='1' r='0.5' fill='%23303030' /%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-size: 4px 3px;
  }
}

.source {
  @include dotted-border;
  display: inline;
  font-family: $font-regular-italic;
  color: $txt-color;
  word-wrap: break-word;

  &:hover {
    &:after {
      width: 0;
    }
  }
  &:focus {
    border: 0;
    outline: 0;
  }
}

.footnotes {
  margin-top: $reg-space;
  max-width: $chperline;

  .source-editor {
    white-space: nowrap;
  }
}

.footnotes {
  border-top: $border-solid;
  ul {
    padding-left: 0;
    gap: 0.25rem;
    li {
      font-size: $smaller-text;
      line-height: $lineheight;
      .source-title {
        font-family: $font-medium-italic;
      }
    }
  }
}

.additional-ressources {
  @include grid;
  ul {
    grid-column: #{$grid-center};
    padding-left: 0;
    li {
      gap: 1.75em;
      list-style: none;
      padding: $sm-space 0;
      .source-title {
        font-family: $font-regular-italic;
      }
      &:not(:first-child) {
        border-top: $border-solid darken($bg-color, 10%);
      }
    }
  }
}
