.related-terms-container {
  margin: 1em 0;
  a {
    border-bottom: none;
    tag {
      padding: $padding-xs;
      border-radius: $border-radius;
      font-size: 80%;
      margin: 0 0.5em;
      background-color: darken($color3, 30%);
      color: $bg-color;
      &:hover {
        background-color: $color3;
        cursor: pointer;
      }
    }
  }
}
