.tag-container {
  margin: 0.5em 0;
  display: flex;
  gap: 0.5em;
  .term-tag {
    background-color: darken($color3, 20%);
    color: $bg-color;
    padding: $padding-xs;
    border-radius: $border-radius;
    &:hover {
      background-color: $color3;
    }
  }
}
