.tag-container {
  display: flex;
  gap: $demi-gap;
  margin: 0 0 $gap;
  flex-wrap: wrap;
  align-items: center;
  grid-column: 2/4;
}
.tag {
  white-space: nowrap;
  border: $border-solid $color1;
  color: darken($color1, 10%);
  padding: $padding-btn;
  font-size: $smaller-text;
  border-radius: 40px;

  &.active,
  &:hover {
    cursor: pointer;
    background-color: darken($color1, 10%);
    color: $bg-color;
  }
}
