.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: $txt-color;
    font-size: $smaller-text;
    color: $bg-color;

    padding: 0.25em $xs-space;
    border-radius: $border-radius;
    position: absolute;
    z-index: 1;
    margin-left: 0.5em;
    top: -80%;
    left: 50%;
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}
