/*-----Colors-----*/

$bg-color: #fffdf8;
$txt-color: #303030;

$color1: #f5733c;
$color2: #ff50d7;
$color3: #9637f0;

$success-color: darken(#c8ffa5, 60%);
$pending-color: darken($color3, 10%);
$warning-color: darken($color1, 10%);

$gradient: linear-gradient(
  180deg,
  rgba(255, 82, 215, 0.8) 0%,
  rgba(245, 116, 60, 0.8) 100%
);

/*-----Fonts-----*/

@font-face {
  font-family: "ESRebond";
  src: url("../assets/fonts/ESRebondGrotesque-Semibold.otf") format("otf"),
    url("../assets/fonts/ESRebondGrotesque-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "ESKlarheit-Book";
  src: url("../assets/fonts/ESKlarheitGrotesk-Book.woff") format("woff"),
    url("../assets/fonts/ESKlarheitGrotesk-Book.woff") format("woff2");
}

@font-face {
  font-family: "ESKlarheit-Book-italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-BookItalic.woff") format("woff"),
    url("../assets/fonts/ESKlarheitGrotesk-BookItalic.woff") format("woff2");
}

@font-face {
  font-family: "ESKlarheit-Medium";
  src: url("../assets/fonts/ESKlarheitGrotesk-Medium.woff") format("woff"),
    url("../assets/fonts/ESKlarheitGrotesk-Medium.woff") format("woff2");
}

@font-face {
  font-family: "ESKlarheit-Medium-Italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-MediumItalic.woff") format("woff"),
    url("../assets/fonts/ESKlarheitGrotesk-MediumItalic.woff") format("woff2");
}

@font-face {
  font-family: "ESKlarheit-Bold";
  src: url("../assets/fonts/ESKlarheitGrotesk-Bold.woff") format("woff"),
    url("../assets/fonts/ESKlarheitGrotesk-Bold.woff") format("woff2");
}

$font-logo: "ESRebond";
$font-regular: "ESKlarheit-Book";
$font-regular-italic: "ESKlarheit-Book-Italic";
$font-medium: "ESKlarheit-Medium";
$font-medium-italic: "ESKlarheit-Medium-Italic";

$font-bold: "ESKlarheit-Bold";

$font-size-basis: 16px;

/*-----Margins-----*/

$margin-sm: 50px;

/*-----Paddings-----*/

$padding-xs: 0.5em;
$padding-sm: 2em;
$padding-btn: 0.5em 1.5em;

/*-----Gap-----*/

$demi-gap: 1em;
$gap: 2em;

/*-----Borders-----*/

$border-solid: 1.5px solid;
$border-radius: 0.25em;

/*-----Animations-----*/

$animation-transition: 0.4s;
