/*-----Colors-----*/

$bg-color: #fffdf8;
$txt-color: #303030;

$color1: #f5733c;
$color2: #ff50d7;
$color3: #9637f0;

$gradient: linear-gradient(
  180deg,
  rgba(255, 82, 215, 0.8) 0%,
  rgba(245, 116, 60, 0.8) 100%
);

$bg-darker: rgba(48, 48, 48, 0.1);

/*-----Fonts-----*/

@font-face {
  font-family: "ESRebond";
  font-style: normal;
  src: url("../assets/fonts/ESRebondGrotesque-Semibold.otf") format("otf"),
    url("../assets/fonts/ESRebondGrotesque-Semibold.ttf") format("truetype");
}

$font: "ESRebond";
$font-size-basis: 18px;

/*-----Margins-----*/

$margin-sm: 50px;

/*-----Paddings-----*/

$padding-xs: 0.5em;
$padding-sm: 50px;
$padding-btn: 0.25em 0.5em;

/*-----Gap-----*/

$gap: 2rem;

/*-----Borders-----*/

$border-solid: 2px solid;
$border-radius: 0.25em;
