$onView-color: #38284d;

.landing-view {
  font-family: $font-logo;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  animation: gradient 4s infinite alternate;
  height: 100vh;
  background: $gradient;
  cursor: url("../assets/images/cursor-auto.svg"), auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:before {
    --size: 0;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    content: "";
    position: absolute;
    background: radial-gradient(circle closest-side, $secondary, transparent);
    transform: translate(-50%, -50%);
    overflow: hidden !important;
    pointer-events: none;
  }

  &:hover {
    &:before {
      --size: 400px;
    }
  }

  header {
    position: relative;
    a,
    button {
      color: $onView-color !important;
    }
    .logo {
      color: $onView-color;
    }

    .login {
      button {
        border-color: $primary;
      }

      &:hover {
        button {
          background-color: transparent;
          border-color: $tierary;
        }
      }
    }
  }

  .title-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: $reg-space;
    position: relative;
    pointer-events: none;
    align-items: center;
    line-height: $lineheight !important;

    h1 {
      font-family: $font-regular !important;
      color: $onView-color;
      margin: 0;
      width: 60%;
      text-align: center;
      margin-top: -3rem;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .landing-view {
    height: 100vh;
    .title-container {
      padding: $sm-space;
      width: auto !important;
    }
  }
}

@media screen and (min-width: map-get($breakpoints, "lg")) {
  .landing-view {
    h1 {
      font-size: 400%;
    }
  }
}
