.landing-view {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  animation: gradient 4s infinite alternate;
  height: 100vh;
  background: $gradient;
  cursor: url("../assets/images/cursor-auto.svg"), auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:before {
    --size: 0;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    content: "";
    position: absolute;
    background: radial-gradient(circle closest-side, $secondary, transparent);
    transform: translate(-50%, -50%);
    overflow: hidden !important;
    pointer-events: none;
  }

  &:hover {
    &:before {
      --size: 400px;
    }
  }

  header {
    position: relative;
    .logo {
      color: $txt-color;
    }

    .connect {
      button {
        border-color: rgb(139, 255, 124);
      }

      &:hover {
        button {
          background-color: transparent;
          border-color: $primary;
        }
      }
    }
  }

  .title-container {
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    padding: $reg-space;
    position: relative;
    pointer-events: none;
    align-items: center;

    h1 {
      margin: 0;
      max-width: 30ch;
      font-size: 400%;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .h1-container {
    padding: $reg-space;
    width: auto !important;
  }
}
