@import "vars";
@import "mixins";
@import "accessibility";
@import "header";
@import "footer";
@import "typography";
@import "layout";
@import "cards";
@import "buttons";
@import "forms";
@import "bootstrap";
@import "profile";
@import "messages";
@import "breadcrumbs";

* {
  outline: none;
  &:focus {
    // create vars for the lightens
    border: $border-solid lighten($color1, 30%);
  }

  &::selection {
    color: $bg-color;
    background: $txt-color;
  }
}

html {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $txt-color;
  font-family: $font-regular;
  line-height: 1.5;
  font-size: $font-size-basis;

  strong {
    font-family: $font-medium;
    //FIXME this is hacky
    font-weight: 500;
  }

  body {
    margin: 0;
    padding: 0;

    .main {
      padding: 10vh $padding-sm;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      height: 100%;
      // h1 {
      //   padding-top: 20vh;
      // }
    }
  }
}

/*-----Mobile-----*/
@media (max-width: 767px) {
  .main {
    padding: $demi-gap;
  }
}
