@charset "UTF-8";
/*-----Colors-----*/
/*-----Fonts-----*/
@font-face {
  font-family: "ESRebond";
  src: url("../assets/fonts/ESRebondGrotesque-Semibold.otf") format("otf"), url("../assets/fonts/ESRebondGrotesque-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "ESKlarheit-Book";
  src: url("../assets/fonts/ESKlarheitGrotesk-Bk.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-Bk.woff2") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Book-Italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-BkIt.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-BkIt.woff2") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Medium";
  src: url("../assets/fonts/ESKlarheitGrotesk-Md.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-Md.woff2") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Medium-Italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-MdIt.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-MdIt.woff2") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Bold";
  src: url("../assets/fonts/ESKlarheitGrotesk-Bd.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-Bd.woff2") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Bold-Italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-BdIt.woff2") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-BdIt.woff2") format("woff2");
}
/*-----Typography-----*/
/*-----Paddings & Gap-----*/
/*-----Borders-----*/
/*-----Grid Columns-----*/
/*-----Transitions-----*/
/*-----Elevations-----*/
/*-----Media Queries-----*/
h1.invisible {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.agenda-entry {
  margin-top: 2rem;
  cursor: url("../assets/images/cursor-pointer.svg"), auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #dcb4ff;
}
.agenda-entry .agenda-entry-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.agenda-entry .agenda-entry-title h3 {
  margin: 0;
  padding: 1rem 0;
}
.agenda-entry .event-container {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 576px) {
  .agenda-entry .event-container {
    grid-template-columns: 1fr;
  }
}
.agenda-entry .event-container .event-col {
  display: flex;
  flex-direction: column;
  grid-column: 7/13;
}
.agenda-entry .event-container .event-col:first-child {
  grid-column: 1/7;
}
.agenda-entry .event-container .event-col:first-child p {
  margin-bottom: 0;
  border-bottom: 1px solid #dcb4ff;
  padding: 0.5rem 0;
}
.agenda-entry .event-container .event-col:first-child p:last-child {
  border-bottom: none;
}
.agenda-entry .event-container .event-col .show-counter {
  color: #7b00e7;
}

.pending-event-card {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ffd2cd;
}
.pending-event-card:first-of-type {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

@media screen and (max-width: 576px) {
  .event-container {
    display: flex !important;
    flex-direction: column;
    width: 100%;
  }
  .event-container .event-col {
    width: 100%;
  }
  .agenda-entry-title {
    flex-direction: column;
    padding-bottom: 1rem;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .agenda-entry-title button {
    align-self: flex-start;
  }
}
@keyframes animationOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animationAccordeon {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@keyframes gradient {
  0% {
    background-size: 100%;
    background-position: center;
  }
  100% {
    background-size: 400%;
    background-position: center;
  }
}
@keyframes transitionX {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-340%, 0, 0);
  }
}
@keyframes apparition {
  0% {
    color: #dcb4ff;
  }
  100% {
    color: #4d4d28;
  }
}
#chevron-icon.close {
  transform: rotate(-90deg);
}

.article h2:first-of-type {
  margin-top: 0;
}
.article .menstrual-reminder {
  margin-top: 4rem;
  padding: 2rem;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #dcb4ff;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.article .menstrual-reminder h3 {
  margin-top: 0;
}
.article .menstrual-reminder p {
  margin-bottom: 0;
}
.article .menstrual-reminder img {
  width: 100%;
}
.article ul li {
  margin-bottom: 0.5rem;
}

.shema-container {
  padding: 2rem;
  width: 100%;
  border-radius: 10px;
  margin: 2rem 0;
  border: 1px solid #dcb4ff;
  align-items: center;
}
.shema-container h3 {
  margin: 0;
  padding: 0;
}
.shema-container .shema {
  width: 100%;
}

.article-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  animation: animationOpacity 500ms ease-in;
  padding-top: 10vh;
}
@media screen and (max-width: 576px) {
  .article-container {
    grid-template-columns: 1fr;
  }
}
.article-container * {
  grid-column: 4/10;
}

@media screen and (max-width: 576px) {
  .article-container {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
  }
  .menstrual-reminder {
    margin-top: 4rem;
    padding: 2rem;
    width: auto !important;
  }
  .menstrual-reminder img {
    max-width: 100% !important;
  }
  .shema-container {
    width: auto;
  }
  .shema-container img {
    max-width: 100%;
  }
}
.form-check-input {
  margin-right: 0.5em;
  width: 1.5em;
  height: 1.5em;
  vertical-align: top;
  background-position: center;
  border: 2px solid #fea59b;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25em;
  background-color: white;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:checked {
  background-color: #fd4a36;
  border-color: #fd4a36;
}

.form-check-input[type=checkbox]:disabled {
  opacity: 30%;
}
.form-check-input[type=checkbox]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check-input[type=radio] {
  border-radius: 50%;
  background-color: #fd4a36;
}
.form-check-input[type=radio]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.breadcrumbs {
  display: flex;
  margin: 5vh 0 10vh;
  color: #4d4d28;
  font-size: 80%;
}
.breadcrumbs .crumb a {
  white-space: nowrap;
}
.breadcrumbs .crumb span {
  white-space: nowrap;
}
.breadcrumbs .crumb:after {
  content: "→";
  padding: 0 0.5rem;
  color: #4d4d28;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}

@media screen and (max-width: 576px) {
  .breadcrumbs {
    margin-top: 12vh;
    overflow-x: auto;
  }
}
button,
.button {
  padding: 0.5em 1.5em;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content !important;
  height: fit-content !important;
  font-size: 16px;
  font-family: "ESKlarheit-Book";
  white-space: nowrap;
  color: #4d4d28;
  cursor: url("../assets/images/cursor-pointer.svg"), auto;
  transition: background-color 0.2s ease-in;
  background-color: transparent;
  border: 1px solid #dcb4ff;
  border-radius: 50px;
}
button.square,
.button.square {
  padding: 0.25em 0.5em;
}
button.showPassword,
.button.showPassword {
  color: #4d4d28;
  padding: 0.5rem;
  align-items: center;
  border: none !important;
}
button.showPassword:hover,
.button.showPassword:hover {
  background-color: transparent;
  opacity: 80%;
}
button:hover,
.button:hover {
  color: #4d4d28;
  background-color: #dcb4ff;
  border: 1px solid #dcb4ff;
}
button:disabled,
.button:disabled {
  opacity: 30%;
  pointer-events: none;
}
button:active,
.button:active {
  border: 1px solid #f4e7ff;
}

.icon-button {
  padding: 0;
  border: none;
}

.share-button {
  display: flex;
  margin: 0.25em 0 1em;
  gap: 0.5em;
}
.share-button a {
  border-bottom: 0;
}

.card-grid {
  margin: 2rem 0 4rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 576px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

.link-card {
  grid-column: span 3;
  width: 100%;
  display: flex;
  color: #4d4d28;
  border-bottom: none;
}
.link-card .card {
  display: flex;
  flex-direction: column;
  flex: max-content;
  overflow: hidden;
  background-color: #fefdf4;
  border: 1px solid #dcb4ff;
  border-radius: 10px;
}
.link-card .card h3 {
  margin: 2rem;
  font-family: "ESKlarheit-Book";
}
.link-card .card img {
  width: 100%;
}
.link-card:hover .card {
  color: #fd4a36;
}
.link-card.article {
  grid-column: span 6;
}
.link-card.article .card {
  background: radial-gradient(circle, #fd4a36 0%, #dcb4ff 30%);
}
.link-card.article.card {
  padding: 2rem;
  text-align: center;
}

.ressources-container {
  overflow: hidden;
}
.ressources-container h3 {
  font-family: "ESKlarheit-Book";
  margin: 0;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  max-height: -moz-fit-content;
  max-height: fit-content;
  cursor: pointer;
  padding-top: 1rem;
}
.ressources-container h3:first-child {
  border-top: 1px solid #dcb4ff;
}
.ressources-container h3:after {
  content: "↗";
  color: #4d4d28;
}
.ressources-container h3:hover {
  color: #fd4a36;
}
.ressources-container h3:hover:after {
  color: #4d4d28;
  transition: 0.2s ease-in;
  transform: rotate(45deg);
}

@media screen and (max-width: 576px) {
  .card-grid .link-card.article {
    margin-top: 0;
    grid-column: span 1 !important;
  }
}
.countdown {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.countdown .show-counter {
  color: #fd4a36;
  display: flex;
  gap: 2rem;
}
.countdown .show-counter div {
  display: flex;
}

.exercises-container {
  margin-top: 2rem;
  grid-column: 1/5;
}
.exercises-container .exercise {
  border-bottom: 1px solid #dcb4ff;
}
.exercises-container .exercise .exercise-closed {
  display: flex;
  padding: 2rem 0 1rem;
  align-items: flex-end;
  justify-content: space-between;
}
.exercises-container .exercise .exercise-closed .pretitle {
  grid-column: 1/12;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.5rem;
}
.exercises-container .exercise .exercise-closed h2 {
  grid-column: 1/9;
}
.exercises-container .exercise .exercise-closed h2,
.exercises-container .exercise .exercise-closed p {
  padding: 0;
  margin: 0;
}
.exercises-container .exercise .exercise-closed p {
  grid-column: 4/10;
}
.exercises-container .exercise .exercise-closed button {
  grid-column: 10/13;
}
.exercises-container .exercise .exercise-open {
  animation: animationOpacity 0.2s ease-in ease-in;
}
.exercises-container .exercise .exercise-open .exercise-article {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  margin: 1rem 0 4rem;
}
@media screen and (max-width: 576px) {
  .exercises-container .exercise .exercise-open .exercise-article {
    grid-template-columns: 1fr;
  }
}
.exercises-container .exercise .exercise-open .exercise-article .prealable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1rem;
  grid-column: 1/7;
}
.exercises-container .exercise .exercise-open .exercise-article .prealable p {
  margin-bottom: 1rem;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions {
  grid-column: 7/13;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions h3 {
  margin-top: 0;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step {
  grid-column: 4/10;
  margin-bottom: 2rem;
  align-items: center;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step:last-child {
  margin-bottom: 0;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step .instructions-step-closed {
  display: flex;
  justify-content: space-between;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step .instructions-step-closed h3 {
  margin-bottom: 0;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step .instructions-step-open {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 1px solid #dcb4ff;
  animation: animationOpacity 0.2s ease-in ease-in;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step .instructions-step-open:first-of-type {
  margin-top: 1rem;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step p {
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .exercise-article *,
  .exercise-closed * {
    grid-column: 1/12 !important;
  }
}
footer {
  justify-content: center;
  gap: 1rem;
  background-color: #dcb4ff;
}
footer .h3 {
  margin-top: 0;
}
footer a {
  font-family: "ESKlarheit-Book";
  border-color: #4d4d28;
}
footer .footer-main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 2rem 2rem 15vh 2rem;
  align-items: flex-start;
}
@media screen and (max-width: 576px) {
  footer .footer-main {
    grid-template-columns: 1fr;
  }
}
footer .footer-main .footer-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer-main .footer-column:first-child {
  grid-column: 1/4;
}
footer .footer-main .footer-column:nth-child(2) {
  grid-column: 10/13;
}
footer .footer-main .footer-column:nth-child(2) nav {
  display: flex;
  gap: 4rem;
  text-transform: lowercase;
}
footer .footer-main .footer-column:nth-child(2) nav a {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}
footer .footer-main .footer-column:nth-child(2) nav .nav-section {
  display: flex;
  flex-direction: column;
}
footer .footer-bottom {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
footer .footer-bottom .copyrights {
  margin-bottom: 0;
}

.banner {
  background-color: #fd4a36;
  padding: 1rem 0;
  white-space: nowrap;
  width: 100%;
  margin: 20vh 0 0;
  position: relative;
  overflow: hidden;
  height: 2rem;
  display: flex;
  align-items: center;
}
.banner * {
  color: #fefdf4;
}
.banner p {
  margin-bottom: 0;
  padding-bottom: 0;
  position: absolute;
  white-space: nowrap;
  animation: transitionX 40s linear infinite;
  animation-play-state: running;
}
.banner p span {
  font-family: "ESKlarheit-Book";
}
.banner + footer {
  margin: 0;
}

@media screen and (max-width: 576px) {
  .banner {
    padding: 1rem 0;
  }
  .banner .h3 {
    font-size: 120%;
  }
  footer {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-main {
    flex-direction: column;
    padding: 2rem 1rem;
  }
  footer .footer-main .footer-main-buttons-container {
    flex-direction: column;
  }
  footer .footer-main .footer-column:nth-child(2) {
    margin-top: 2rem;
    grid-column-start: 1;
    align-items: flex-start;
  }
  footer .footer-main .footer-column:nth-child(2) nav {
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .footer-column .h3 {
    white-space: nowrap;
  }
  .footer-column .footer-main-buttons-container {
    flex-direction: row;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer-column:nth-child(2) {
    justify-content: flex-start !important;
  }
}
.grid-form {
  margin-bottom: 2rem;
}
.grid-form .form-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 576px) {
  .grid-form .form-section {
    grid-template-columns: 1fr;
  }
}
.grid-form .form-section label {
  font-family: "ESKlarheit-Medium";
  display: flex;
  align-items: center;
  grid-column: 1/7;
}
.grid-form .form-section .msg {
  grid-column: 7/13;
}
.grid-form .react-mde-container {
  grid-column: 7/13;
}
.grid-form .react-mde {
  border-radius: 10px !important;
  border-color: #dcb4ff !important;
  padding: 1rem;
  overflow: hidden;
}
.grid-form .react-mde .mde-header {
  background-color: transparent;
}
.grid-form .react-mde .mde-text {
  border-radius: 0;
}
@media screen and (max-width: 576px) {
  .grid-form .form-section {
    display: flex !important;
    flex-direction: column;
    gap: 1rem !important;
  }
  .grid-form .form-section label:not(.radio-label) {
    margin-top: 2rem;
    font-size: 120%;
  }
  .grid-form .form-section textarea {
    min-height: 50vw;
  }
  .grid-form h3 {
    margin-top: 4rem;
  }
}

.input-label-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}
.input-label-container label {
  white-space: nowrap;
}
.input-label-container input {
  margin-bottom: 0.25rem;
}
.input-label-container.fullwidth {
  grid-column: span 7;
  justify-content: space-between;
  gap: 1rem;
}
.input-label-container.fullwidth input {
  width: 100%;
}

input[type=text],
input[type=datetime-local],
input[type=date],
input[type=time],
input[type=tel],
input[type=number],
input[type=password],
input[type=file],
select,
textarea {
  background-color: #fefdf4;
  width: 100%;
  color: #4d4d28;
  border: 1px solid #dcb4ff;
  border-radius: 10px;
  font-family: "ESKlarheit-Medium";
  font-size: 100%;
  padding: 1rem 1.5rem;
  grid-column: 7/13;
}
input[type=text].line,
input[type=datetime-local].line,
input[type=date].line,
input[type=time].line,
input[type=tel].line,
input[type=number].line,
input[type=password].line,
input[type=file].line,
select.line,
textarea.line {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #dcb4ff;
}

.search-bar {
  padding: 0.5rem 1.5rem !important;
  border: 1px solid #dcb4ff !important;
  border-radius: 50px;
}
.search-bar::-moz-placeholder {
  color: #4d4d28;
  opacity: 50%;
}
.search-bar::placeholder {
  color: #4d4d28;
  opacity: 50%;
}

.check-list-container {
  margin: 2rem 0;
  grid-column: 1/12;
}
.check-list-container .check-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.check-list-container .check-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 100vw;
}
.check-list-container .check-list li:not(:first-child) {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #dcb4ff;
}

.grid-area {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 576px) {
  .grid-area {
    grid-template-columns: 1fr;
  }
}
.grid-area .centered {
  grid-column: 4/10;
}

.title-aside-container {
  margin: 4rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  align-items: flex-start;
}
.title-aside-container:not(:first-child) {
  border-top: 1px solid #dcb4ff;
  padding-top: 2rem;
}
@media screen and (max-width: 576px) {
  .title-aside-container {
    grid-template-columns: 1fr;
  }
}
.title-aside-container h1,
.title-aside-container h2 {
  grid-column: 1/7;
  margin: 0;
  padding: 0;
}
.title-aside-container div {
  padding-top: 0.75rem;
  grid-column: 7/13;
}

@media screen and (max-width: 992px) {
  .grid-area .centered {
    grid-column: 1/12;
  }
  .floater-container .floater,
  .floater-container img {
    grid-column: 1/12;
  }
}
header {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 0 2rem;
}
@media screen and (max-width: 576px) {
  header {
    grid-template-columns: 1fr;
  }
}
header * {
  white-space: nowrap;
}
header .logo {
  font-size: 1.5rem;
  font-family: "ESRebond";
  color: #fd4a36;
  text-decoration: none;
  display: flex;
  align-items: center;
  grid-column: 1/3;
  border: none;
  text-transform: lowercase !important;
}
header .login {
  border-bottom: none !important;
}
header .login:hover {
  border-bottom: none !important;
}
header .burger-menu {
  display: none;
}
header nav.horizontal {
  grid-column: 4/13;
}
header nav.horizontal ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 0;
}
header nav.horizontal ul li {
  margin-left: 0;
  list-style: none;
  display: flex;
  text-transform: lowercase;
}
header nav.horizontal ul li a {
  font-family: "ESKlarheit-Medium";
  color: #4d4d28;
  text-decoration: none;
  border: none;
  white-space: nowrap;
}
header nav.horizontal ul li a.active, header nav.horizontal ul li a:hover {
  border-bottom: 1px solid #ffc3ee;
}
header nav.horizontal ul li .profile-in-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header nav.horizontal ul li .profile-in-header a {
  border-bottom: none;
}
header nav.horizontal ul li .profile-in-header a {
  padding: 0.2em 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25em;
}
header nav.horizontal ul li .profile-in-header a:hover {
  background-color: transparent;
  border-bottom: none !important;
}
header nav.horizontal ul li .profile-in-header a:hover .user-dot {
  background-color: #ffc3ee;
}
header nav.horizontal ul li .profile-in-header a .user-dot {
  background-color: #fd4a36;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
header nav.horizontal ul li .profile-in-header a p {
  margin: 0;
}

@media screen and (max-width: 992px) {
  header {
    padding: 1rem;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #fefdf4;
    border-bottom: 1px solid #4d4d28;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: fixed;
    left: 0;
    right: 0;
    width: auto;
    z-index: 9999;
  }
  header .logo {
    z-index: 999;
    color: #fd4a36;
  }
  header .burger-menu {
    justify-self: flex-start;
    position: flex;
    z-index: 99;
    border: 0;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  header .burger-menu:hover {
    background-color: transparent;
  }
  header .burger-menu #nav-icon {
    width: 30px;
    height: 21px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: url("../assets/images/cursor-pointer.svg"), auto;
  }
  header .burger-menu #nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #4d4d28;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  header .burger-menu #nav-icon span:nth-child(2), header .burger-menu #nav-icon span:nth-child(3) {
    top: 9px;
  }
  header .burger-menu #nav-icon span:nth-child(4) {
    top: 18px;
  }
  header .burger-menu #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  header .burger-menu #nav-icon.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  header .burger-menu #nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  header .burger-menu #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  header nav.horizontal {
    display: none;
  }
  header nav.vertical {
    --font-size: 1.25rem;
    position: absolute;
    margin: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background: #fefdf4;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 100vw;
    font-size: var(--font-size);
  }
  header nav.vertical button {
    font-size: var(--font-size);
  }
  header nav.vertical ul {
    padding: 1rem;
    margin-left: 0;
    flex-direction: column;
  }
  header nav.vertical ul li {
    list-style: none;
    line-height: 3;
  }
  header nav.vertical ul li a {
    padding: 0;
    border-bottom: none;
    color: #4d4d28;
  }
  header nav.vertical ul li .profile-in-header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border-top: 1px solid #4d4d28;
    padding-top: 2rem;
  }
  header nav.vertical ul li .profile-in-header a {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25em;
    flex-direction: row-reverse;
  }
  header nav.vertical ul li .profile-in-header a:hover {
    background-color: transparent;
  }
  header nav.vertical ul li .profile-in-header a .user-dot {
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
  header nav.vertical ul li .profile-in-header a .user-dot:hover {
    cursor: url("../assets/images/cursor-pointer.svg"), auto;
  }
  header nav.vertical ul li .profile-in-header a p {
    margin: 0;
  }
}
.pain-illu-cover {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: cover;
     object-position: cover;
}
@media screen and (max-width: 576px) {
  .pain-illu-cover {
    aspect-ratio: 3/2;
  }
}

.img-holder {
  border-radius: 50%;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
}
figure img {
  max-width: 100%;
}
figure span {
  padding-top: 0.5rem;
  padding-right: 50px;
  font-size: 80%;
  margin: 0;
  font-style: normal;
  height: -moz-fit-content;
  height: fit-content;
}
figure span a {
  width: -moz-fit-content;
  width: fit-content;
  font-style: normal;
}

.article-illustration-container {
  width: 70ch;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-illustration-container .article-illustration {
  height: 40vh;
}

.avatar-button-container {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.avatar-button-container .user-avatar,
.avatar-button-container .avatar-placeholder {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #fd4a36;
  -o-object-fit: cover;
     object-fit: cover;
}

.illu-animation-xl {
  border-radius: 10px;
  margin: 2rem 0;
  max-width: 70ch;
  max-width: 100%;
}

.logo-partner-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
.logo-partner-container .logo-partner {
  border-bottom: none;
  max-width: 20%;
}
.logo-partner-container .logo-partner img {
  width: 100%;
}

.lexique-list {
  padding-left: 0;
  grid-column: 7/13;
}
.lexique-list .lexique-list-item {
  align-items: flex-start;
  gap: 2rem;
  list-style: none;
  margin: 2rem 0;
}
.lexique-list .lexique-list-item img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  margin-bottom: 1rem;
}
.lexique-list .lexique-list-item img + div h2 {
  margin-top: 0;
}
.lexique-list .lexique-list-item img + div .relatedPains {
  margin: 1rem 0;
}

a.term span {
  color: #4d4d28;
}

.allLexique-term-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 576px) {
  .allLexique-term-container {
    grid-template-columns: 1fr;
  }
}
.allLexique-term-container .glossary-dashboard-column {
  position: relative;
  grid-column: 1/4;
}
.allLexique-term-container .glossary-dashboard-column .fixed {
  position: fixed;
  top: 48vh;
  transform: translateY(-48%);
  transition: transform 0.5s ease-in;
}
.allLexique-term-container .glossary-dashboard-column .letter-link-container {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.allLexique-term-container .glossary-dashboard-column .letter-link-container .letter-link {
  font-size: 110%;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 0.1em 0.4em;
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.allLexique-term-container .glossary-dashboard-column .letter-link-container .letter-link:hover {
  border: 1px solid #dcb4ff;
  border-radius: 50px;
}
.allLexique-term-container .glossary-dashboard-column .letter-link-container .letter-link.disabled {
  cursor: default;
  opacity: 40%;
}
.allLexique-term-container .glossary-dashboard-column .letter-link-container .letter-link.disabled:hover {
  background-color: transparent;
}
.allLexique-term-container .glossary-dashboard-column form {
  display: flex;
  margin-top: 0;
  align-items: center;
  gap: 1rem;
}
.allLexique-term-container .glossary-column {
  grid-column: 4/10;
}
.allLexique-term-container .glossary-column .letter-title:first-of-type .h1 {
  margin-top: 0;
}
.allLexique-term-container .glossary-column .h1 {
  border-top: 1px solid #dcb4ff;
  margin-top: 4rem;
  padding-top: 1rem;
  font-family: "ESRebond";
}
.allLexique-term-container .glossary-column .h1 a {
  color: #4d4d28;
  border-bottom: 0;
}
.allLexique-term-container .glossary-column h3 {
  margin-bottom: 0.75rem;
}
.allLexique-term-container .glossary-column .allLexique-term .related-pain-container {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
  gap: 1rem;
}
.allLexique-term-container .glossary-column .allLexique-term .related-pain-container .related-pain {
  border-bottom: 1px solid #fea59b;
}
.allLexique-term-container .glossary-column .allLexique-term .related-pain-container .related-pain a {
  border-bottom: none;
}
.allLexique-term-container .glossary-column .allLexique-term img {
  margin: 1rem 0;
  border-radius: 50px;
}

@media screen and (max-width: 576px) {
  .lexique-list-item {
    flex-direction: column;
    gap: 0 !important;
  }
  .lexique-list-item img {
    width: 100% !important;
  }
  .glossary-dashboard-column {
    margin-top: 2rem;
  }
  .glossary-column {
    grid-column: 1/12 !important;
  }
}
.msg-box {
  margin: 2rem 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.msg-box * {
  margin: 0;
  white-space: nowrap;
  height: -moz-fit-content;
  height: fit-content;
}

.msg {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 0.5em;
  padding: 0.5rem 0;
  align-items: center;
}
.msg * {
  padding: 0;
  margin: 0;
}
.msg.success {
  border-bottom: 1px solid #c8ffa5;
}
.msg.success:before {
  content: "👏  ";
}
.msg.reminder {
  border-bottom: 1px solid #dcb4ff;
}
.msg.reminder:before {
  content: "🔔  ";
}
.msg.pending {
  border-bottom: 1px solid #dcb4ff;
}
.msg.pending:before {
  content: "⌛  ";
}
.msg.warning {
  border-bottom: 1px solid #ffc3ee;
}
.msg.warning:before {
  content: "⚠️  ";
}
.msg.archived {
  border-bottom: 1px solid secondary;
}
.msg.archived:before {
  content: "📁  ";
}
.msg.error {
  border-bottom: 1px solid #fd4a36;
}
.msg.error:before {
  content: "🚩 ";
}
.msg.info {
  border-bottom: 1px solid #dcb4ff;
}
.msg.info:before {
  content: "💡 ";
}

.error-list {
  display: none;
}
.error-list li {
  margin: 0;
  padding: 0;
}
.error-list:not(:empty) {
  display: block;
  padding: 0;
  line-height: 2;
  color: #fd4a36;
  grid-column: 1/6;
}
.error-list:not(:empty) li {
  font-family: "ESKlarheit-Medium";
  list-style: none;
}
.error-list:not(:empty) li:before {
  content: "🚨  ";
}

.redirection {
  width: -moz-fit-content;
  width: fit-content;
}
.redirection a {
  border-bottom: none;
  padding-left: 16px;
}
.redirection:before {
  position: absolute;
  content: "↗";
  transition: 0.2s ease-in;
}
.redirection:hover:before {
  transform: rotate(45deg);
}

.category-submenu {
  width: 30vh;
  margin-top: 0;
  grid-column: 1/4 !important;
  position: relative;
  margin-left: 2rem;
}
.category-submenu .h4 {
  margin-top: 0;
}
.category-submenu ul {
  padding-left: 20px;
  list-style-position: inside;
}
.category-submenu li {
  white-space: nowrap;
  font-family: "ESKlarheit-Medium";
  font-weight: 400;
  position: relative;
  line-height: 1.75;
  margin-top: 0;
  list-style: none;
}
.category-submenu li a {
  color: #4d4d28;
}
.category-submenu li:before {
  position: absolute;
  left: -20px;
  content: "↗";
  transition: 0.2s ease-in;
}
.category-submenu li:hover:before {
  transform: rotate(45deg);
}
.category-submenu.fixed {
  position: fixed;
  top: 48vh;
  transform: translateY(-48%);
  transition: transform 0.5s ease-in;
}

.share-button a svg {
  border: 1px solid transparent;
  transition: none;
}
.share-button a svg:hover {
  border-color: #4d4d28;
  height: auto;
  border-radius: 50%;
}
.share-button .copy-url-button-container {
  display: flex;
  align-items: top;
  gap: 0.5em;
}
.share-button .copy-url-button-container .copy-url-button {
  background-color: #dcb4ff;
}
.share-button .copy-url-button-container .copy-url-button .link-icon {
  color: #4d4d28;
}
.share-button .copy-url-button-container .copy-url-button:hover {
  border: 1px solid #4d4d28 !important;
}
.share-button .copy-url-button-container p {
  margin-bottom: 0;
  white-space: nowrap;
  height: -moz-fit-content;
  height: fit-content;
}

.copy-url-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.copy-url-button .link-icon {
  max-width: 60%;
  color: white;
}

.tabbed-navigation-banner {
  display: flex;
  flex-direction: column;
}

.tabbed-navigation-container {
  margin: 1rem 0;
  z-index: 99;
  top: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  transition: none;
}
.tabbed-navigation-container.profil {
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent !important;
  z-index: 1;
  position: relative;
  max-width: 100%;
}
.tabbed-navigation-container.sticky {
  background-color: #fefdf4;
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 66vw;
  align-self: center;
  justify-self: center;
  transition: width 400ms ease-out;
}
.tabbed-navigation-container.sticky + .article-container {
  padding-top: 10vh;
}
.tabbed-navigation-container .tabbed-navigation {
  background-color: #fefdf4;
  border: 1px solid #dcb4ff;
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
}
.tabbed-navigation-container .tabbed-navigation:hover {
  border: 1px solid #ffc3ee;
}
.tabbed-navigation-container .tabbed-navigation p {
  display: flex;
  align-items: center;
  padding: 0.5em 1.5em;
  margin-bottom: 0;
  opacity: 30%;
}
.tabbed-navigation-container .tabbed-navigation a {
  color: #4d4d28;
  padding: 0.5em 1.5em;
  transition: 0.2s ease-in;
  display: inline-flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  line-height: 2rem;
  text-decoration: initial;
  cursor: url("../assets/images/cursor-pointer.svg"), auto;
  vertical-align: middle;
}
.tabbed-navigation-container .tabbed-navigation a:hover {
  background-color: white;
}
.tabbed-navigation-container .tabbed-navigation a.active {
  background-color: #dcb4ff;
}
.tabbed-navigation-container .tabbed-navigation a.active:hover {
  background-color: #ffc3ee;
}

@media screen and (max-width: 576px) {
  .category-submenu {
    width: auto;
    border-top: 1px solid;
    padding-top: 2rem;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse !important;
  }
  .category-submenu li {
    margin-left: 1rem;
  }
  .tabbed-navigation-container {
    display: flex;
    align-items: center;
  }
  .tabbed-navigation-container .tabbed-navigation {
    width: 100%;
  }
  .tabbed-navigation-container.sticky {
    top: 4.3em;
    width: 100vw;
    padding: 0.5rem 0;
  }
}
.userProfile-info {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 2rem 0;
  margin-left: 2rem;
}
.userProfile-info .userProfile-avatar {
  height: 10rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 576px) {
  .userProfile-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 0;
  }
}
.source {
  position: relative;
  border-bottom: 3px solid transparent;
  display: inline;
  font-family: "ESKlarheit-Book-Italic";
  color: #4d4d28;
  word-wrap: break-word;
}
.source:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2' width='2' height='2'%3E%3Ccircle cx='1' cy='1' r='0.5' fill='%23303030' /%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 4px 3px;
}
.source:hover:after {
  width: 0;
}

.footnotes {
  margin-top: 2rem;
  max-width: 70ch;
}
.footnotes .source-editor {
  white-space: nowrap;
}

.footnotes {
  border-top: 1px solid;
}
.footnotes ul {
  padding-left: 0;
  gap: 0.25rem;
}
.footnotes ul li {
  font-size: 80%;
  line-height: 1.5;
}

.additional-ressources {
  margin-top: 2rem;
}
.additional-ressources ul {
  grid-column: 7/13;
  padding-left: 0;
}
.additional-ressources ul li {
  gap: 1.75em;
  list-style: none;
  padding: 1rem 0;
}
.additional-ressources ul li .source-title {
  font-family: "ESKlarheit-Book-Italic";
}
.additional-ressources ul li a {
  font-family: "ESKlarheit-Bold-Italic" !important;
}
.additional-ressources ul li a .source-title {
  font-family: "ESKlarheit-Bold-Italic" !important;
}
.additional-ressources ul li .source-category {
  text-transform: lowercase;
}
.additional-ressources ul li:not(:first-child) {
  border-top: 1px solid #dcb4ff;
}

@media screen and (max-width: 576px) {
  .additional-ressources ul {
    grid-column: 1/12;
  }
  .footnotes ul {
    padding-left: 1rem;
  }
}
.tag-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .tag-container {
    grid-template-columns: 1fr;
  }
}

.tags {
  grid-column: 7/13;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  white-space: nowrap;
  border: 1px solid #ffc3ee;
  padding: 0.5em 1.5em;
  font-size: 80%;
  border-radius: 40px;
  text-transform: lowercase;
}
.tag.active, .tag:hover {
  cursor: url("../assets/images/cursor-pointer.svg"), auto;
  background-color: #ffc3ee;
  border-color: #ffc3ee;
}

.reset {
  font-size: 80%;
  cursor: url("../assets/images/cursor-pointer.svg"), auto;
  display: flex;
  align-items: center;
  text-transform: lowercase !important;
  border-bottom: 1px solid #ffc3ee;
  height: -moz-fit-content;
  height: fit-content;
}
.reset:hover {
  border-bottom: none;
}

@media screen and (max-width: 576px) {
  .tag-container {
    grid-column: 1/12;
  }
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #4d4d28;
  font-size: 80%;
  color: #fefdf4;
  padding: 0.25em 0.5rem;
  border-radius: 50px;
  position: absolute;
  z-index: 1;
  margin-left: 0.5em;
  top: -80%;
  left: 50%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.heading-area {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  max-height: -moz-fit-content;
  max-height: fit-content;
  gap: 0 2rem;
}
@media screen and (max-width: 576px) {
  .heading-area {
    grid-template-columns: 1fr;
  }
}
.heading-area * {
  font-family: "ESRebond";
  grid-column: 1/12;
  height: -moz-fit-content;
  height: fit-content;
}
.heading-area h1 {
  margin-top: 5vh;
}
.heading-area h2 {
  margin-top: 10vh;
}

h1 {
  font-family: "ESRebond";
}

h2 + h3 {
  margin-top: 0;
}

p,
li {
  margin-top: 0;
  max-width: 70ch;
}
p.pretitle,
li.pretitle {
  text-transform: lowercase;
  border-bottom: #c8ffa5 1px solid;
  font-family: "ESKlarheit-Medium";
  padding-bottom: 0;
  margin-bottom: 0;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 80%;
}
p.pretitle + h1, p.pretitle + h2, p.pretitle + h3,
li.pretitle + h1,
li.pretitle + h2,
li.pretitle + h3 {
  margin-top: 0;
  padding-top: 0.25em;
}

li {
  margin-top: 1rem;
}

.subtitle {
  font-size: 120%;
  max-width: 70ch;
}

h1 + .subtitle,
h2 + .subtitle,
h3 + .subtitle,
h4 + .subtitle {
  border-bottom: 1px solid #dcb4ff;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

h1 + .subtitle {
  font-size: 140%;
}

h2 + .subtitle {
  font-size: 130%;
}

h3 + .subtitle {
  font-size: 120%;
}

h4 + .subtitle {
  color: red;
  font-size: 110%;
}

u {
  text-decoration: none;
  border-bottom: 1px solid #ffc3ee;
}

a {
  text-decoration: none;
  color: #4d4d28;
  border-bottom: 1px solid #ffc3ee;
  font-family: "ESKlarheit-Bold";
  width: -moz-fit-content;
  width: fit-content;
  transition: border-color 0.2s ease-in;
  cursor: url("../assets/images/cursor-pointer.svg"), auto;
}
a:hover {
  border-color: transparent;
}

sup {
  font-size: 60%;
}

hr {
  margin: 2rem 0;
  height: 1px;
  background-color: #4d4d28;
  border: none;
}

figcaption {
  text-align: center;
  margin-top: 1rem;
  color: #7b00e7;
  font-size: 80%;
  display: block;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .heading-area * {
    grid-column: 1/10;
  }
  h1,
  h2,
  h3,
  h4,
  p,
  span {
    max-width: 100vw;
  }
}
/*-----Ratio Scale-----*/
h4,
.h4 {
  font-size: 1.45rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(1.45rem* 1.25);
  margin-bottom: calc(1.45rem/ 2);
  font-size: clamp(
        1rem,
        4.45vw + 1rem,
        1.45rem
      );
}
h4 .logo,
.h4 .logo {
  text-transform: lowercase !important;
}
h4 .logo:first-letter,
.h4 .logo:first-letter {
  text-transform: lowercase !important;
}
h4:first-letter,
.h4:first-letter {
  text-transform: capitalize;
}

h3,
.h3 {
  font-size: 2.1025rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(2.1025rem* 1.25);
  margin-bottom: calc(2.1025rem/ 2);
  font-size: clamp(
        1.408675rem,
        4.693825vw + 1rem,
        2.1025rem
      );
}
h3 .logo,
.h3 .logo {
  text-transform: lowercase !important;
}
h3 .logo:first-letter,
.h3 .logo:first-letter {
  text-transform: lowercase !important;
}
h3:first-letter,
.h3:first-letter {
  text-transform: capitalize;
}

h2,
.h2 {
  font-size: 3.048625rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(3.048625rem* 1.25);
  margin-bottom: calc(3.048625rem/ 2);
  font-size: clamp(
        2.04257875rem,
        5.00604625vw + 1rem,
        3.048625rem
      );
}
h2 .logo,
.h2 .logo {
  text-transform: lowercase !important;
}
h2 .logo:first-letter,
.h2 .logo:first-letter {
  text-transform: lowercase !important;
}
h2:first-letter,
.h2:first-letter {
  text-transform: capitalize;
}

h1,
.h1 {
  font-size: 4.42050625rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  margin-top: calc(4.42050625rem* 1.25);
  margin-bottom: calc(4.42050625rem/ 2);
  font-size: clamp(
        2.210253125rem,
        6.210253125vw + 1rem,
        4.42050625rem
      );
}
h1 .logo,
.h1 .logo {
  text-transform: lowercase !important;
}
h1 .logo:first-letter,
.h1 .logo:first-letter {
  text-transform: lowercase !important;
}
h1:first-letter,
.h1:first-letter {
  text-transform: capitalize;
}

.CGUV h2 {
  margin-top: 2rem;
  border-top: 1px solid;
  padding-top: 2rem;
}
.CGUV ol ul li {
  padding: 0.5rem 0;
}
.CGUV ol li ul li {
  list-style-type: disc;
}

@media screen and (max-width: 992px) {
  .CGUV a {
    white-space: break-spaces;
  }
}
.landing-view {
  font-family: "ESRebond";
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  animation: gradient 4s infinite alternate;
  height: 100vh;
  background: radial-gradient(circle, #fd4a36 0%, #dcb4ff 30%);
  cursor: url("../assets/images/cursor-auto.svg"), auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.landing-view:before {
  --size: 0;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  content: "";
  position: absolute;
  background: radial-gradient(circle closest-side, #dcb4ff, transparent);
  transform: translate(-50%, -50%);
  overflow: hidden !important;
  pointer-events: none;
}
.landing-view:hover:before {
  --size: 400px;
}
.landing-view header {
  position: relative;
}
.landing-view header a,
.landing-view header button {
  color: #38284d !important;
}
.landing-view header .logo {
  color: #38284d;
}
.landing-view header .login button {
  border-color: #fd4a36;
}
.landing-view header .login:hover button {
  background-color: transparent;
  border-color: #c8ffa5;
}
.landing-view .title-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 2rem;
  position: relative;
  pointer-events: none;
  align-items: center;
  line-height: 1.5 !important;
}
.landing-view .title-container h1 {
  font-family: "ESKlarheit-Book" !important;
  color: #38284d;
  margin: 0;
  width: 60%;
  text-align: center;
  margin-top: -3rem;
}

@media screen and (max-width: 576px) {
  .landing-view {
    height: 100vh;
  }
  .landing-view .title-container {
    padding: 1rem;
    width: auto !important;
  }
}
@media screen and (min-width: 992px) {
  .landing-view h1 {
    font-size: 400%;
  }
}
.author {
  font-family: "ESKlarheit-Book-Italic";
  margin-bottom: 2rem;
  display: flex;
}
.author:before {
  content: "par ";
}

.loader {
  height: 100vh;
  width: 100vw;
  position: flex;
  align-items: center;
  justify-content: center;
}

* {
  transition: 0.2s ease-in;
  font-feature-settings: "ss02", "ss11";
}
*::-moz-selection {
  color: white;
  background: #4d4d28;
}
*::selection {
  color: white;
  background: #4d4d28;
}
*:focus {
  outline: 2px dotted #ffc3ee;
}

html {
  margin: 0;
  padding: 0;
  background-color: #fefdf4;
  color: #4d4d28;
  font-family: "ESKlarheit-Book";
  line-height: 1.5;
  font-size: 16px;
  height: auto;
  overflow-x: hidden;
}
html body {
  margin: 0;
  padding: 0;
  height: auto;
}
html body .main {
  cursor: url("../assets/images/cursor-auto.svg"), auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  html body .main {
    padding: 0 1rem;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.flex-center p {
  margin-bottom: 0;
}
@media screen and (max-width: 576px) {
  .flex-center {
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo {
  font-family: "ESRebond";
  text-transform: lowercase !important;
}

.noun {
  text-transform: capitalize;
}
.noun * {
  text-transform: capitalize;
}

.colored {
  color: #fd4a36;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 576px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}
.mandatory:after {
  content: " *";
  color: #fd4a36;
}

.breathing * {
  margin: 0.5rem 0;
}

strong {
  font-family: "ESKlarheit-Bold";
  font-weight: 500;
}

.smaller-text {
  font-size: 80%;
}

.acronym {
  text-transform: uppercase;
}/*# sourceMappingURL=globals.css.map */