@import "vars";
@import "mixins";
@import "accessibility";
@import "header";
@import "footer";
@import "typography";
@import "layout";
@import "cards";
@import "buttons";
@import "forms";
@import "bootstrap";
@import "profile";
@import "messages";
@import "breadcrumbs";
@import "illustrations";
@import "nav";
@import "sources";

* {
  outline: none;
  &:focus {
    // create vars for the lightens
    border: $border-solid lighten($color1, 30%);
  }

  &::selection {
    color: $bg-color;
    background: $txt-color;
  }
}

html {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $txt-color;
  font-family: $font-regular;
  line-height: 1.5;
  font-size: $font-size-basis;
  height: auto;
  strong {
    font-family: $font-medium;
    //FIXME this is hacky
    font-weight: 500;
  }

  body {
    margin: 0;
    padding: 0;
    height: auto;
    .main {
      padding: 10vh $padding-sm;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "sm")) {
  .main {
    width: 100%;
    padding-bottom: 0;
  }
}
