@charset "UTF-8";
/*-----Colors-----*/
/*-----Fonts-----*/
@font-face {
  font-family: "ESRebond";
  src: url("../assets/fonts/ESRebondGrotesque-Semibold.otf") format("otf"), url("../assets/fonts/ESRebondGrotesque-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "ESKlarheit-Book";
  src: url("../assets/fonts/ESKlarheitGrotesk-Book.woff") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-Book.woff") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Book-italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-BookItalic.woff") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-BookItalic.woff") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Medium";
  src: url("../assets/fonts/ESKlarheitGrotesk-Medium.woff") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-Medium.woff") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Medium-Italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-MediumItalic.woff") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-MediumItalic.woff") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Bold";
  src: url("../assets/fonts/ESKlarheitGrotesk-Bold.woff") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-Bold.woff") format("woff2");
}
/*-----Typography-----*/
/*-----Margins-----*/
/*-----Paddings-----*/
/*-----Gap-----*/
/*-----Borders-----*/
/*-----Animations-----*/
/*-----Elevations-----*/
/*-----Media Queries-----*/
/*-----Links-----*/
/*-----Grid-----*/
/*-----Forms-----*/
/*-----Stick-----*/
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.agenda-entry {
  margin-top: 2em;
  width: 100vw;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.agenda-entry .agenda-entry-pretitle {
  position: relative;
  font-family: "ESKlarheit-Bold";
  padding-top: 0.5em;
  display: flex;
  gap: 1em;
  align-items: center;
}
.agenda-entry .agenda-entry-pretitle:before {
  top: -0.5em;
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  border-top: 1px solid;
}
.agenda-entry .agenda-entry-title {
  background-color: yellow;
  display: flex;
  align-items: centered;
  width: 100%;
  gap: 1em;
}
.agenda-entry:hover .agenda-entry-pretitle:before {
  animation: border_anim 200ms linear forwards;
}
.agenda-entry .img-holder {
  border: #fff6ed 2px solid;
  height: 1.5em;
  width: 1.5em;
}
.agenda-entry p + h3 {
  margin-top: 0;
  padding-top: 0;
}
.agenda-entry p {
  margin-bottom: 0;
}
.agenda-entry .entry-title {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 2em 0 1em;
}
.agenda-entry .entry-title h3 {
  margin: 0;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes animationOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animationAccordeon {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.form-check-input {
  margin-right: 0.5em;
  width: 1.5em;
  height: 1.5em;
  vertical-align: top;
  background-position: center;
  border: 2px solid #ffb6ee;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25em;
  background-color: white;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #ff50d7;
  outline: 0;
  box-shadow: 0 0 0 0.15em #ffb6ee;
}
.form-check-input:checked {
  background-color: #ff50d7;
  border-color: #ff50d7;
}

.form-check-input[type=checkbox]:disabled {
  opacity: 30%;
}
.form-check-input[type=checkbox]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check-input[type=radio] {
  border-radius: 50%;
  background-color: #ff50d7;
}
.form-check-input[type=radio]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.breadcrumbs {
  display: flex;
  color: #af43ef;
}
.breadcrumbs .crumb a {
  color: #8a1fee;
}
.breadcrumbs .crumb:after {
  color: #1f042f;
  content: "→";
  padding: 0 0.5em;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}

@media screen and (max-width: 576px) {
  .breadcrumbs {
    margin-top: 1em;
  }
  .breadcrumbs .crumb a {
    white-space: nowrap;
  }
}
@media screen and (min-width: 576px) {
  .breadcrumbs {
    font-size: 80%;
    grid-column: 1/6;
  }
}
button {
  padding: 0.5em 1.5em;
  border-radius: 40px;
  border: 1px solid;
  background-color: transparent;
  font-size: 16px;
  font-family: "ESKlarheit-Medium";
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
button.square {
  padding: 0.25em 0.5em;
}
button:hover {
  background-color: #ffe9fa;
  border: transparent 1px solid;
}
button:disabled {
  background-color: #fff6ed;
  opacity: 60%;
  cursor: auto;
  border: 1px solid;
}
button.showPassword {
  color: #1f042f;
  padding: 0.5em;
  align-items: center;
  border: none !important;
}
button.showPassword:hover {
  background-color: transparent;
  color: #20451e;
}

.icon-button {
  padding: 0;
  border: none;
}

.share-button {
  display: flex;
  margin: 0.25em 0 1em;
  gap: 0.5em;
}
.share-button a {
  border-bottom: 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}
@media screen and (max-width: 576px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
.card-grid .link-card {
  border-bottom: none;
  color: #1f042f;
  display: flex;
  width: 100%;
}
.card-grid .link-card:hover .card {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.06), 0 1.5px 7px rgba(0, 0, 0, 0.04), 0 2.5px 2.5px rgba(0, 0, 0, 0.07);
}
.card-grid .link-card .card {
  background-color: #fff6ed;
  border: none;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  flex: max-content;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.12), 0 3px 14px rgba(0, 0, 0, 0.08), 0 5px 5px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  padding-bottom: 1em;
}
.card-grid .link-card .card h2,
.card-grid .link-card .card h3,
.card-grid .link-card .card p {
  padding: 0 1em;
}
.card-grid .link-card .card h3 {
  margin-bottom: 0.5em;
}
.card-grid .link-card .card h3 + p {
  padding-top: 0;
  margin-top: 0;
}
.card-grid .link-card .card img {
  max-width: 100%;
}
.card-grid .link-card .card .card-date,
.card-grid .link-card .card .card-location {
  text-align: center;
}
.card-grid .link-card.article .card, .card-grid .link-card.ressource .card {
  padding: 2em;
}
.card-grid .link-card.article .card h2,
.card-grid .link-card.article .card h3,
.card-grid .link-card.article .card p, .card-grid .link-card.ressource .card h2,
.card-grid .link-card.ressource .card h3,
.card-grid .link-card.ressource .card p {
  margin-top: 0;
  padding: 0;
}
.card-grid .link-card.article .card p, .card-grid .link-card.ressource .card p {
  margin-bottom: 0;
}
.card-grid .link-card.article {
  grid-column: span 2;
}
.card-grid .link-card.article .card {
  background: radial-gradient(circle, #f5733c 0%, #cf98ff 80%);
  overflow: hidden;
}
.card-grid .link-card.ressource .card {
  background-color: #cf98ff;
}
.card-grid .link-card.agenda .card {
  display: flex;
  justify-content: space-between;
}
.card-grid .link-card.agenda .card h3 {
  text-align: center;
}

@keyframes gradient {
  0% {
    background-size: 100%;
    background-position: center;
  }
  100% {
    background-size: 200%;
    background-position: center;
  }
}
.pending-event-card {
  grid-column: 1/2;
  background-color: #ffe9fa;
  border: 1px solid #ffb6ee;
  border-radius: 40px;
  padding: 1em;
  margin: 1em 0;
  height: -moz-fit-content;
  height: fit-content;
}
.pending-event-card .collapsed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
.pending-event-card .collapsed p {
  margin-bottom: 0;
}
.pending-event-card .pending-event-detail .pending-event-detail-content {
  margin-top: 1em;
}
.pending-event-card .button-flex {
  display: flex;
  gap: 1em;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .card-grid .link-card.article {
    margin-top: 0;
    grid-column: span 1 !important;
  }
}
.countdown {
  display: flex;
  align-items: center;
  gap: 2em;
}
.countdown .show-counter {
  color: #20451e;
  display: flex;
  gap: 2em;
}
.countdown .show-counter div {
  display: flex;
}

.donation-banner {
  border-top: 1px solid #ffddba;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .donation-banner {
    grid-template-columns: 1fr;
  }
}
.donation-banner-content {
  grid-column: 2/4;
}
.donation-banner-content h4 {
  margin-top: 0;
}
.donation-banner-content .button-link-container {
  display: flex;
  gap: 1em;
  align-items: center;
}
.donation-banner-content .button-link-container a {
  color: #1f042f;
  height: -moz-fit-content;
  height: fit-content;
}

.exercises-container {
  grid-column: 1/5;
}
.exercises-container .exercise .exercise-closed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  border-bottom: 1px solid;
  padding: 1em 0;
  align-items: baseline;
}
@media screen and (max-width: 576px) {
  .exercises-container .exercise .exercise-closed {
    grid-template-columns: 1fr;
  }
}
.exercises-container .exercise .exercise-closed h2,
.exercises-container .exercise .exercise-closed p {
  padding: 0;
  margin: 0;
}
.exercises-container .exercise .exercise-closed p {
  grid-column: 2/4;
}
.exercises-container .exercise .exercise-closed button {
  grid-column: 4/5;
}
.exercises-container .exercise .exercise-open {
  animation: animationOpacity 0.4s ease-in;
}
.exercises-container .exercise .exercise-open .exercise-img {
  border-radius: 40px;
  width: 100%;
  aspect-ratio: 16/4.5;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2em;
}
.exercises-container .exercise .exercise-open .exercise-article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  margin: 2em 0;
}
@media screen and (max-width: 576px) {
  .exercises-container .exercise .exercise-open .exercise-article {
    grid-template-columns: 1fr;
  }
}
.exercises-container .exercise .exercise-open .exercise-article .prealable {
  font-family: "ESKlarheit-Medium";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1em;
}
.exercises-container .exercise .exercise-open .exercise-article .prealable p {
  margin-bottom: 1em;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions {
  grid-column: 2/5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions h3 {
  margin-top: 0;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step {
  grid-column: 2/4;
  margin-bottom: 2em;
  align-items: center;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step:last-child {
  margin-bottom: 0;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step .instructions-step-closed {
  display: flex;
  justify-content: space-between;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step .instructions-step-closed h3 {
  margin-bottom: 0;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step .instructions-step-open {
  animation: animationOpacity 0.4s ease-in;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step .instructions-step-open:first-of-type {
  margin-top: 1em;
}
.exercises-container .exercise .exercise-open .exercise-article .instructions .instructions-step p {
  margin-bottom: 1em;
}

footer {
  justify-content: center;
  align-items: center;
  gap: 1em;
}
footer a {
  color: #1f042f;
}
footer .footer-main {
  border-top: 1px solid;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}
@media screen and (max-width: 576px) {
  footer .footer-main {
    grid-template-columns: 1fr;
  }
}
footer .footer-main .footer-main-col {
  display: flex;
}
footer .footer-main .footer-main-col:first-child {
  grid-column: 1/5;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: -moz-fit-content;
  width: fit-content;
}
footer .footer-main .footer-main-col:first-child .footer-main-buttons-container {
  display: flex;
  gap: 1em;
}
footer .footer-main .footer-main-col:first-child p {
  margin-bottom: 0;
}
footer .footer-main .footer-main-col:nth-child(2) {
  grid-column: 2/5;
  grid-row: 1/2;
}
footer .footer-main .footer-main-col:nth-child(2) nav {
  display: flex;
  gap: 4em;
}
footer .footer-main .footer-main-col:nth-child(2) nav a {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}
footer .footer-main .footer-main-col:nth-child(2) nav .nav-section {
  display: flex;
  flex-direction: column;
}
footer .footer-bottom {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid;
  gap: 1em;
  padding: 2em;
}
footer .footer-bottom .copyrights {
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  footer {
    padding: 1em 2em;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footer-content {
    flex-direction: column;
  }
  footer .footer-content h2 {
    text-align: center;
    margin-bottom: 0;
  }
  footer .footer-content .social-medias a {
    height: 2.5em;
    width: 2.5em;
  }
}
input {
  color: #1f042f;
  border: 1px solid #ffc387;
  border-radius: 40px;
  font-family: "ESKlarheit-Book";
  font-size: 100%;
  background-color: #fff6ed;
  padding: 0.5em;
  width: 300px;
}
input.line {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid;
}
input:focus {
  border-radius: 40px;
  outline: none;
  border: 1px solid #ffddba;
}
input::-moz-placeholder {
  opacity: 50%;
  font-family: "ESKlarheit-Book";
}
input::placeholder {
  opacity: 50%;
  font-family: "ESKlarheit-Book";
}

.filter-dashboard {
  padding: 2em 0;
  display: flex;
  gap: 2em;
  justify-content: flex-start;
  align-items: flex-start;
}
.filter-dashboard .filter {
  display: flex;
  align-items: top;
  gap: 2em;
}
.filter-dashboard .filter-dropdown {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: left;
}
.filter-dashboard .filter-dropdown .input-icon {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

#chevron-icon {
  transform: rotate(-90deg);
}
#chevron-icon.open {
  transform: rotate(0deg);
  transition: 0.4s;
}
#chevron-icon.close {
  transition: 0.4s;
}
#chevron-icon:hover {
  cursor: pointer;
}

.no-suggestions {
  color: #f5733c;
}

.suggestions {
  border-top-width: 0;
  list-style: none;
  margin-top: 2px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}
.suggestions li {
  padding: 0.5em 0.5em 0.5em 4.5rem;
  border-radius: 40px;
}
.suggestions li :not(:last-of-type) {
  border-bottom: 1px solid #20451e;
}
.suggestions li:hover {
  color: #20451e;
  cursor: pointer;
}
.suggestions .suggestion-active {
  color: #20451e;
  cursor: pointer;
}

form {
  margin: 2em 0;
}
form.grid-form,
form .form-section {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, max-content);
}
form.grid-form .check-list,
form .form-section .check-list {
  margin-top: 0;
}
form.grid-form div select,
form.grid-form div input[type=password],
form.grid-form div input[type=file],
form.grid-form div input[type=date],
form.grid-form div input[type=datetime-local],
form.grid-form div input[type=number],
form.grid-form div input[type=tel],
form.grid-form div textarea,
form .form-section div select,
form .form-section div input[type=password],
form .form-section div input[type=file],
form .form-section div input[type=date],
form .form-section div input[type=datetime-local],
form .form-section div input[type=number],
form .form-section div input[type=tel],
form .form-section div textarea {
  color: #1f042f;
  border: 1px solid #ffc387;
  border-radius: 40px;
  font-family: "ESKlarheit-Book";
  font-size: 100%;
  background-color: #fff6ed;
  padding: 0.5em;
  width: 300px;
}
form.grid-form div select.line,
form.grid-form div input[type=password].line,
form.grid-form div input[type=file].line,
form.grid-form div input[type=date].line,
form.grid-form div input[type=datetime-local].line,
form.grid-form div input[type=number].line,
form.grid-form div input[type=tel].line,
form.grid-form div textarea.line,
form .form-section div select.line,
form .form-section div input[type=password].line,
form .form-section div input[type=file].line,
form .form-section div input[type=date].line,
form .form-section div input[type=datetime-local].line,
form .form-section div input[type=number].line,
form .form-section div input[type=tel].line,
form .form-section div textarea.line {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid;
}
form.grid-form div select:focus,
form.grid-form div input[type=password]:focus,
form.grid-form div input[type=file]:focus,
form.grid-form div input[type=date]:focus,
form.grid-form div input[type=datetime-local]:focus,
form.grid-form div input[type=number]:focus,
form.grid-form div input[type=tel]:focus,
form.grid-form div textarea:focus,
form .form-section div select:focus,
form .form-section div input[type=password]:focus,
form .form-section div input[type=file]:focus,
form .form-section div input[type=date]:focus,
form .form-section div input[type=datetime-local]:focus,
form .form-section div input[type=number]:focus,
form .form-section div input[type=tel]:focus,
form .form-section div textarea:focus {
  border-radius: 40px;
  outline: none;
  border: 1px solid #ffddba;
}
form.grid-form div select::-moz-placeholder, form.grid-form div input[type=password]::-moz-placeholder, form.grid-form div input[type=file]::-moz-placeholder, form.grid-form div input[type=date]::-moz-placeholder, form.grid-form div input[type=datetime-local]::-moz-placeholder, form.grid-form div input[type=number]::-moz-placeholder, form.grid-form div input[type=tel]::-moz-placeholder, form.grid-form div textarea::-moz-placeholder, form .form-section div select::-moz-placeholder, form .form-section div input[type=password]::-moz-placeholder, form .form-section div input[type=file]::-moz-placeholder, form .form-section div input[type=date]::-moz-placeholder, form .form-section div input[type=datetime-local]::-moz-placeholder, form .form-section div input[type=number]::-moz-placeholder, form .form-section div input[type=tel]::-moz-placeholder, form .form-section div textarea::-moz-placeholder {
  opacity: 50%;
  font-family: "ESKlarheit-Book";
}
form.grid-form div select::placeholder,
form.grid-form div input[type=password]::placeholder,
form.grid-form div input[type=file]::placeholder,
form.grid-form div input[type=date]::placeholder,
form.grid-form div input[type=datetime-local]::placeholder,
form.grid-form div input[type=number]::placeholder,
form.grid-form div input[type=tel]::placeholder,
form.grid-form div textarea::placeholder,
form .form-section div select::placeholder,
form .form-section div input[type=password]::placeholder,
form .form-section div input[type=file]::placeholder,
form .form-section div input[type=date]::placeholder,
form .form-section div input[type=datetime-local]::placeholder,
form .form-section div input[type=number]::placeholder,
form .form-section div input[type=tel]::placeholder,
form .form-section div textarea::placeholder {
  opacity: 50%;
  font-family: "ESKlarheit-Book";
}
form.grid-form select,
form .form-section select {
  min-width: 100%;
  grid-column: 1/2;
}
form.grid-form .user-type,
form .form-section .user-type {
  grid-column: 1/5;
}
form.grid-form .user-name-label,
form.grid-form .user-email-label,
form .form-section .user-name-label,
form .form-section .user-email-label {
  grid-column: 1/2;
}
form.grid-form .user-name-input,
form .form-section .user-name-input {
  grid-column: 2/3;
}
form.grid-form .user-website-label,
form .form-section .user-website-label {
  grid-column: 1/2;
}
form.grid-form .user-avatar-label,
form.grid-form .user-password-label,
form.grid-form .submit-button,
form .form-section .user-avatar-label,
form .form-section .user-password-label,
form .form-section .submit-button {
  grid-column: 1/2;
}
form.grid-form .user-password-requirements,
form .form-section .user-password-requirements {
  grid-column: 3/5;
}
form.grid-form .conditions-generales,
form .form-section .conditions-generales {
  grid-column: 1/5;
}
form.grid-form h2,
form .form-section h2 {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}
form.grid-form .form-section,
form .form-section .form-section {
  padding: 2em 2em;
  grid-column: 1/2;
  background-color: #ffe9fa;
  border: 1px solid #ffb6ee;
  border-radius: 40px;
}
form.grid-form .form-section h3,
form .form-section .form-section h3 {
  margin-top: 0;
  display: flex;
  align-items: center;
  grid-column: 1/5;
}
form.grid-form .form-section p,
form .form-section .form-section p {
  grid-column: 1/5;
}
form.grid-form .flex-center,
form .form-section .flex-center {
  display: flex;
  align-items: center;
  gap: 2em;
}
form.grid-form .event-title-label,
form.grid-form .event-shortDef-label,
form.grid-form .event-longDef-label,
form.grid-form .event-address-label,
form.grid-form .event-type-label,
form.grid-form .event-onlineMeeting-label,
form.grid-form .event-region-label,
form.grid-form .event-tel-label,
form.grid-form .event-entry-label,
form .form-section .event-title-label,
form .form-section .event-shortDef-label,
form .form-section .event-longDef-label,
form .form-section .event-address-label,
form .form-section .event-type-label,
form .form-section .event-onlineMeeting-label,
form .form-section .event-region-label,
form .form-section .event-tel-label,
form .form-section .event-entry-label {
  grid-column: 1/2;
}
form.grid-form .event-title-input,
form .form-section .event-title-input {
  grid-column: 2/3;
}
form.grid-form .event-date-label,
form .form-section .event-date-label {
  grid-column: 3/4;
}
form.grid-form .event-date-input,
form .form-section .event-date-input {
  grid-column: 4/5;
}
form.grid-form .event-date-input input,
form .form-section .event-date-input input {
  box-sizing: border-box;
  width: calc(100% - 1px);
}
form.grid-form .event-shortDef-input,
form.grid-form .event-longDef-input,
form .form-section .event-shortDef-input,
form .form-section .event-longDef-input {
  grid-column: 2/5;
  display: flex;
}
form.grid-form .event-shortDef-input textarea,
form.grid-form .event-longDef-input textarea,
form .form-section .event-shortDef-input textarea,
form .form-section .event-longDef-input textarea {
  box-sizing: border-box;
  width: calc(100% - 1px);
}
form.grid-form .form-dropdown-suggestions,
form .form-section .form-dropdown-suggestions {
  grid-column: 2/5;
}
form.grid-form .form-dropdown-suggestions li,
form .form-section .form-dropdown-suggestions li {
  padding-left: 0 !important;
}

.user-avatar {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-placeholder {
  background-image: url("../assets/images/default-avatar.jpg");
  background-size: contain;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.check-list {
  line-height: 2.5;
  list-style: none;
  padding-left: 0;
}
.check-list li {
  display: flex;
  align-items: center;
}

.user-email-requirements,
.user-password-error {
  grid-column: 3/4;
  display: flex;
  align-items: center;
}
.user-email-requirements .msg,
.user-password-error .msg {
  display: flex;
  margin: 0;
}

/*-----Mobile-----*/
@media (max-width: 767px) {
  header {
    display: flex;
    align-items: center;
    padding: 1em 2em;
    justify-content: space-between;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #fff6ed;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.12), 0 3px 14px rgba(0, 0, 0, 0.08), 0 5px 5px rgba(0, 0, 0, 0.14);
    flex-direction: row-reverse;
    position: fixed;
    left: 0;
    right: 0;
  }
  header .logo {
    z-index: 99;
    border-bottom: 0;
    color: #1f042f;
    font-family: "ESRebond";
    font-size: 1.25rem;
  }
  header .burger-menu {
    justify-self: flex-start;
    position: flex;
    z-index: 2;
    border: 0;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: transparent;
  }
  header .burger-menu:hover {
    background-color: transparent;
  }
  header .burger-menu:focus {
    outline: 0;
    border: 0;
  }
  header .burger-menu .menu-label {
    color: #1f042f;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 60%;
    font-family: "ESKlarheit-Bold";
    padding-top: 2px;
  }
  header .burger-menu #nav-icon {
    width: 30px;
    height: 21px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  header .burger-menu #nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #1f042f;
    border-radius: 40px;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  header .burger-menu #nav-icon span:nth-child(2), header .burger-menu #nav-icon span:nth-child(3) {
    top: 9px;
  }
  header .burger-menu #nav-icon span:nth-child(4) {
    top: 18px;
  }
  header .burger-menu #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  header .burger-menu #nav-icon.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  header .burger-menu #nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  header .burger-menu #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  header nav.horizontal {
    display: none;
  }
  header nav.vertical {
    position: absolute;
    margin: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 1000px;
    background: radial-gradient(circle, #f5733c 0%, #cf98ff 80%);
    background-color: white;
    display: flex;
    align-items: center;
  }
  header nav.vertical ul {
    padding: 2em;
    margin-left: 0;
    flex-direction: column;
  }
  header nav.vertical ul li {
    font-family: "ESKlarheit-Bold";
    font-size: 140%;
    list-style: none;
    line-height: 3;
  }
  header nav.vertical ul li a {
    padding: 0;
    border-bottom: none;
    color: #1f042f;
  }
  header nav.vertical ul li .logout-header {
    margin-top: 2em;
    border-top: 1px solid #1f042f;
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav.vertical ul li .logout-header .user-icon-link {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25em;
  }
  header nav.vertical ul li .logout-header .user-icon-link:hover {
    background-color: transparent;
  }
  header nav.vertical ul li .logout-header .user-icon-link #userIcon {
    border: 1px solid;
    padding: 0.5em;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
  header nav.vertical ul li .logout-header .user-icon-link #userIcon:hover {
    cursor: pointer;
  }
  header nav.vertical ul li .logout-header .user-icon-link p {
    margin: 0;
  }
}
/*-----Desktop-----*/
@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    padding: 0 2em;
  }
}
@media screen and (min-width: 768px) and (max-width: 576px) {
  header {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  header .logo {
    font-size: 1.5rem;
    font-family: "ESRebond";
    color: #1f042f;
    text-decoration: none;
    display: flex;
    align-items: center;
    grid-column: 1/2;
    border: none;
  }
  header .logo:focus {
    outline: 0;
    border: 0;
  }
}
@media (min-width: 768px) {
  header .burger-menu {
    display: none !important;
  }
}
@media (min-width: 768px) {
  header nav .hidden {
    display: none;
  }
  header nav.horizontal {
    grid-column: 2/5;
  }
  header nav.horizontal ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 0;
  }
  header nav.horizontal ul li {
    margin-left: 0;
    list-style: none;
    display: flex;
  }
  header nav.horizontal ul li a {
    font-family: "ESKlarheit-Medium";
    color: #1f042f;
    text-decoration: none;
    padding: 0.5em 1.5em;
    border-radius: 40px;
    border: none;
  }
  header nav.horizontal ul li a:hover {
    background-color: #ffe9fa;
  }
  header nav.horizontal ul li a.active {
    background-color: #fcdbce;
  }
  header nav.horizontal ul li .logout-header {
    display: flex;
    align-items: center;
    gap: 2em;
  }
  header nav.horizontal ul li .logout-header .user-icon-link {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25em;
  }
  header nav.horizontal ul li .logout-header .user-icon-link:hover {
    background-color: transparent;
  }
  header nav.horizontal ul li .logout-header .user-icon-link #userIcon {
    border: 1px solid;
    padding: 0.5em;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
  header nav.horizontal ul li .logout-header .user-icon-link #userIcon:hover {
    cursor: pointer;
  }
  header nav.horizontal ul li .logout-header .user-icon-link p {
    margin: 0;
  }
}
.pain-illu-cover {
  width: 100%;
  border-radius: 40px;
  aspect-ratio: 16/6;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media screen and (max-width: 576px) {
  .pain-illu-cover {
    aspect-ratio: 3/2;
  }
}

.img-holder {
  border-radius: 50%;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
figure span {
  font-family: "ESKlarheit-Book-Italic";
  margin: 0;
  font-style: normal;
  height: -moz-fit-content;
  height: fit-content;
}
figure span a {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "ESKlarheit-Book-Italic";
  width: fit-content;
  font-style: normal;
}

.article-illustration-container {
  width: 70ch;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}
.article-illustration-container .article-illustration {
  height: 40vh;
}

.lexique-list {
  padding-left: 0;
}
.lexique-list .lexique-list-item {
  align-items: flex-start;
  gap: 2em;
  list-style: none;
  margin: 2em 0;
}
.lexique-list .lexique-list-item img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  margin-bottom: 1em;
}
.lexique-list .lexique-list-item img + div h2 {
  margin-top: 0;
}
.lexique-list .lexique-list-item img + div .relatedPains {
  margin: 1em 0;
}

a.term span {
  color: #1f042f;
}

@media screen and (max-width: 576px) {
  .lexique-list-item {
    flex-direction: column;
    gap: 0 !important;
  }
  .lexique-list-item img {
    width: 100% !important;
  }
}
.allLexique-term-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}
@media screen and (max-width: 576px) {
  .allLexique-term-container {
    grid-template-columns: 1fr;
  }
}
.allLexique-term-container .glossary-dashboard-column {
  position: relative;
}
.allLexique-term-container .glossary-dashboard-column .fixed {
  position: fixed;
  top: 48vh;
  transform: translateY(-48%);
  transition: transform 0.5s ease-in;
}
.allLexique-term-container .glossary-dashboard-column .letter-link-container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(6, 1fr);
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.allLexique-term-container .glossary-dashboard-column .letter-link-container .letter-link {
  font-size: 120%;
  border-bottom: 0;
  border-radius: 40px;
  padding: 0.1em 0.4em;
}
.allLexique-term-container .glossary-dashboard-column .letter-link-container .letter-link.disabled {
  cursor: default;
  opacity: 40%;
}
.allLexique-term-container .glossary-dashboard-column .letter-link-container .letter-link.disabled:focus {
  border: none;
}
.allLexique-term-container .glossary-dashboard-column .letter-link-container .letter-link.disabled:hover {
  background-color: transparent;
}
.allLexique-term-container .glossary-dashboard-column .letter-link-container .letter-link:hover {
  background-color: #feede6;
  border-radius: 40px;
}
.allLexique-term-container .glossary-dashboard-column form {
  display: flex;
  margin-top: 0;
  align-items: center;
  gap: 1em;
}
.allLexique-term-container .glossary-dashboard-column form input {
  width: 80%;
}
.allLexique-term-container .glossary-column {
  grid-column: 2/4;
}
.allLexique-term-container .glossary-column .letter-title:first-of-type .h1 {
  margin-top: 0;
}
.allLexique-term-container .glossary-column .h1 {
  border-top: 1px solid #ffddba;
  margin-top: 4rem;
  padding-top: 1rem;
  font-family: "ESRebond";
}
.allLexique-term-container .glossary-column .h1 a {
  color: #1f042f;
  border-bottom: 0;
}
.allLexique-term-container .glossary-column h3 {
  margin-bottom: 0.75rem;
}
.allLexique-term-container .glossary-column .allLexique-term .related-pain-container {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1em;
  gap: 1em;
}
.allLexique-term-container .glossary-column .allLexique-term img {
  margin: 1em 0;
  border-radius: 40px;
}

.msg {
  margin: 2em 0;
  font-family: "ESKlarheit-Medium";
  background-color: #ffeede;
  border: 1px solid #ffd0a1;
  padding: 1em;
  border-radius: 40px;
  display: flex;
  gap: 0.5em;
  height: -moz-fit-content;
  height: fit-content;
}
.msg * {
  margin-bottom: 0;
}
.msg.success {
  color: mediumseagreen;
}
.msg.success:before {
  content: "👏  ";
}
.msg.reminder {
  color: DarkGoldenRod;
}
.msg.reminder:before {
  content: "🔔  ";
}
.msg.pending {
  color: mediumslateblue;
}
.msg.pending:before {
  content: "⌛  ";
}
.msg.warning:before {
  content: url("../assets/images/warning.svg");
  width: 20px;
  height: 20px;
  padding-top: 2.5px;
}
.msg.archived {
  color: dimgrey;
}
.msg.archived:before {
  content: "📁  ";
}
.msg.error {
  color: crimson;
}
.msg.error:before {
  content: "🚨  ";
}
.msg.info:before {
  content: url("../assets/images/info-icon.svg");
  width: 20px;
  height: 20px;
  padding-top: 2.5px;
}

.error-list {
  display: none;
}
.error-list li {
  margin: 0;
  padding: 0;
}

.error-list:not(:empty) {
  display: block;
  padding: 0;
  line-height: 2;
  color: crimson;
  grid-column: 1/2;
}
.error-list:not(:empty) li {
  font-family: "ESKlarheit-Medium";
  list-style: none;
}
.error-list:not(:empty) li:before {
  content: "🚨  ";
}

.category-submenu {
  width: 30vh;
  grid-column: 1/2 !important;
  grid-row: 3/6;
  margin-top: 0;
  position: relative;
  z-index: 999;
}
.category-submenu.fixed {
  position: fixed;
  top: 48vh;
  transform: translateY(-48%);
  transition: transform 0.5s ease-in;
}
.category-submenu h4 {
  margin: 0;
}
.category-submenu li {
  font-family: "ESKlarheit-Medium";
  font-weight: 400;
  position: relative;
  line-height: 1.75;
  list-style: none;
}
.category-submenu li a {
  color: #1f042f;
}
.category-submenu li:before {
  position: absolute;
  left: -20px;
  content: "↗";
  transition: 0.4s;
}
.category-submenu li:hover:before {
  transform: rotate(45deg);
}

.share-button a:hover svg circle {
  fill: #9f32ff !important;
}
.share-button a:hover svg path {
  fill: white;
}
.share-button .copy-url-button-container {
  display: flex;
  align-items: top;
  gap: 0.5em;
}
.share-button .copy-url-button-container .copy-url-button {
  background-color: #cf98ff;
}
.share-button .copy-url-button-container .copy-url-button .link-icon {
  color: #1f042f;
}
.share-button .copy-url-button-container .copy-url-button:hover {
  background-color: #9f32ff;
}
.share-button .copy-url-button-container .copy-url-button:hover .link-icon {
  color: white;
}
.share-button .copy-url-button-container p {
  margin-bottom: 0;
  white-space: nowrap;
  height: -moz-fit-content;
  height: fit-content;
}

.copy-url-button {
  width: 25px;
  height: 25px;
  background-color: #d95720;
  border-radius: 50%;
  border: none !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.copy-url-button .link-icon {
  max-width: 60%;
  color: white;
}

@media screen and (max-width: 576px) {
  .category-submenu {
    background-color: yellow;
  }
}
.tabbed-navigation-banner {
  display: flex;
  flex-direction: column;
}

.tabbed-navigation-container {
  margin: 1em 0;
  z-index: 99;
  top: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  transition: none;
}
.tabbed-navigation-container.sticky {
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 66vw;
  align-self: center;
  justify-self: center;
  transition: width 400ms ease-out;
}
.tabbed-navigation-container .tabbed-navigation {
  background-color: #fff6ed;
  border: 1px solid #cf98ff;
  display: flex;
  justify-content: flex-start;
  border-radius: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
}
.tabbed-navigation-container .tabbed-navigation p {
  display: flex;
  align-items: center;
  padding: 0.5em 1.5em;
  margin-bottom: 0;
  opacity: 30%;
}
.tabbed-navigation-container .tabbed-navigation a {
  color: #1f042f;
  padding: 0.5em 1.5em;
  transition: 0.4s;
  display: inline-flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 40px;
  line-height: 44px;
  text-decoration: initial;
  cursor: pointer;
  vertical-align: middle;
}
.tabbed-navigation-container .tabbed-navigation a:focus {
  outline: 0;
  border: 0;
}
.tabbed-navigation-container .tabbed-navigation a:hover {
  background-color: #fffeff;
}
.tabbed-navigation-container .tabbed-navigation a.active {
  background-color: #cf98ff;
}
.tabbed-navigation-container .tabbed-navigation a.active:hover {
  background-color: #c37fff;
}

@media screen and (max-width: 576px) {
  .tabbed-navigation-container {
    border: 5px solid yellow;
  }
}
.sticky + .article-container {
  padding-top: 10vh;
}

.article-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  animation: opacityAnimation 500ms ease-in;
  gap: 0;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .article-container {
    grid-template-columns: 1fr;
  }
}
.article-container * {
  grid-column: 2/5;
}
.article-container.event {
  max-width: 50vw;
}
.article-container.event .heading-area {
  margin-top: 0;
}

@media screen and (max-width: 576px) {
  .article-container * {
    grid-column: 1/5;
  }
}
@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
.userProfile-info {
  display: flex;
  gap: 2em;
  align-items: center;
  padding: 2em 0;
}
.userProfile-info .userProfile-avatar {
  height: 10rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.source {
  position: relative;
  border-bottom: 3px solid transparent;
  display: inline;
  font-family: "ESKlarheit-Book-Italic";
  color: #1f042f;
  word-wrap: break-word;
}
.source:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2' width='2' height='2'%3E%3Ccircle cx='1' cy='1' r='0.5' fill='%23303030' /%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 4px 3px;
}
.source:hover:after {
  width: 0;
}
.source:focus {
  border: 0;
  outline: 0;
}

.footnotes {
  margin-top: 2em;
  max-width: 70ch;
}
.footnotes .source-editor {
  white-space: nowrap;
}

.footnotes {
  border-top: 1px solid;
}
.footnotes ul {
  padding-left: 0;
  gap: 0.25rem;
}
.footnotes ul li {
  display: grid;
  grid-template-columns: 0 1fr;
  gap: 1.75em;
  align-items: start;
  font-size: 80%;
  line-height: 1.5;
}
.footnotes ul li:before {
  content: attr(data-icon);
}
.footnotes ul li .source-title {
  font-family: "ESKlarheit-Medium-Italic";
}

.additional-ressources {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}
@media screen and (max-width: 576px) {
  .additional-ressources {
    grid-template-columns: 1fr;
  }
}
.additional-ressources ul {
  grid-column: 2/4;
  padding-left: 0;
}
.additional-ressources ul li {
  gap: 1.75em;
  list-style: none;
  padding: 1em 0;
}
.additional-ressources ul li .source-title {
  font-family: "ESKlarheit-Book-Italic";
}
.additional-ressources ul li:not(:first-child) {
  border-top: 1px solid #ffddba;
}

.tag-container {
  display: flex;
  gap: 1em;
  margin: 0 0 2em;
  flex-wrap: wrap;
  align-items: center;
  grid-column: 2/4;
}

.tag {
  white-space: nowrap;
  border: 1px solid #f5733c;
  color: #f2510c;
  padding: 0.5em 1.5em;
  font-size: 80%;
  border-radius: 40px;
}
.tag.active, .tag:hover {
  cursor: pointer;
  background-color: #f2510c;
  color: #fff6ed;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #1f042f;
  font-size: 80%;
  color: #fff6ed;
  padding: 0.25em 0.5em;
  border-radius: 40px;
  position: absolute;
  z-index: 1;
  margin-left: 0.5em;
  top: -80%;
  left: 50%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.logo {
  font-family: "ESRebond";
}

.heading-area {
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  gap: 0 2em;
}
@media screen and (max-width: 576px) {
  .heading-area {
    grid-template-columns: 1fr;
  }
}
.heading-area h1 {
  margin-top: 0;
}
.heading-area * {
  grid-column: 2/4;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 576px) {
  .heading-area {
    margin-top: 10vh;
  }
}

strong {
  font-family: "ESKlarheit-Bold";
  font-weight: 500;
}

h1 {
  font-family: "ESRebond";
}

h2 + h3 {
  margin-top: 0;
}

p,
li {
  margin-top: 0;
  max-width: 70ch;
}
p.pretitle,
li.pretitle {
  font-family: "ESKlarheit-Bold";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 0;
  margin-bottom: 0;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
p.pretitle + h1, p.pretitle + h2, p.pretitle + h3,
li.pretitle + h1,
li.pretitle + h2,
li.pretitle + h3 {
  margin-top: 0;
  padding-top: 0.25em;
}
p.subtitle,
li.subtitle {
  font-size: x-large;
  margin-bottom: 5vh;
}

a {
  text-decoration: none;
  color: #f2510c;
  border-bottom: 1px solid;
  font-family: "ESKlarheit-Medium";
  width: -moz-fit-content;
  width: fit-content;
}
a.arrow-link {
  background-color: yellow;
}
a.arrow-link:before {
  content: "> ";
}
a:hover {
  border: none;
}

sup {
  font-family: "ESKlarheit-Bold";
  padding: 0 0.5em;
  color: #20451e;
  font-size: 60%;
}

hr {
  margin: 2em 0;
  height: 1px;
  background-color: #1f042f;
  border: none;
}

.auteurice {
  margin-top: 10vh;
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-left: -3em;
}
.auteurice .img-holder {
  height: 2.5em;
  width: 2.5em;
  background: radial-gradient(circle, #f5733c 0%, #cf98ff 80%);
}
.auteurice em {
  font-style: normal;
  font-family: "ESKlarheit-Medium-Italic";
}
.auteurice em a {
  font-style: normal;
  font-family: "ESKlarheit-Medium-Italic";
}
@media screen and (max-width: 576px) {
  .auteurice {
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  h1,
  h2,
  h3,
  h4,
  p,
  span {
    max-width: 100vw;
  }
}
.acronym {
  text-transform: uppercase;
}

/*-----Ratio Scale-----*/
h4,
.h4 {
  font-family: "ESRebond";
  font-size: 1.414rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  font-size: clamp(
        1rem,
        4.414vw + 1rem,
        1.414rem
      );
}
h4:first-letter,
.h4:first-letter {
  text-transform: capitalize;
}

h3,
.h3 {
  font-family: "ESRebond";
  font-size: 1.999396rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  font-size: clamp(
        1.33959532rem,
        4.65980068vw + 1rem,
        1.999396rem
      );
}
h3:first-letter,
.h3:first-letter {
  text-transform: capitalize;
}

h2,
.h2 {
  font-family: "ESRebond";
  font-size: 2.827145944rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  font-size: clamp(
        1.8941877825rem,
        4.9329581615vw + 1rem,
        2.827145944rem
      );
}
h2:first-letter,
.h2:first-letter {
  text-transform: capitalize;
}

h1,
.h1 {
  font-family: "ESRebond";
  font-size: 3.9975843648rem;
  line-height: calc(2px + 2ex + 2px);
  font-weight: 500;
  font-size: clamp(
        2.6783815244rem,
        5.3192028404vw + 1rem,
        3.9975843648rem
      );
}
h1:first-letter,
.h1:first-letter {
  text-transform: capitalize;
}

* {
  outline: none;
}
*:focus {
  border: 1px solid #fcdbce;
}
*::-moz-selection {
  color: #fff6ed;
  background: #1f042f;
}
*::selection {
  color: #fff6ed;
  background: #1f042f;
}

html {
  margin: 0;
  padding: 0;
  background-color: #fff6ed;
  color: #1f042f;
  font-family: "ESKlarheit-Book";
  line-height: 1.5;
  font-size: 16px;
  height: auto;
}
html body {
  margin: 0;
  padding: 0;
  height: auto;
}
html body .main {
  padding: 10vh 2em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  html body .main {
    padding-bottom: 0;
  }
}

.grid-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}
@media screen and (max-width: 576px) {
  .grid-area {
    grid-template-columns: 1fr;
  }
}
.grid-area .centered {
  grid-column: 2/4;
}

.article .menstrual-reminder {
  margin-top: 2em;
  background-color: #ffe9fa;
  padding: 2em;
  border-radius: 40px;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #ffb6ee;
}
.article .menstrual-reminder h3 {
  margin-top: 0;
}
.article ul li {
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=globals.css.map */