@charset "UTF-8";
/*-----Colors-----*/
/*-----Fonts-----*/
@font-face {
  font-family: "ESRebond";
  src: url("../assets/fonts/ESRebondGrotesque-Semibold.otf") format("otf"), url("../assets/fonts/ESRebondGrotesque-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "ESKlarheit-Book";
  src: url("../assets/fonts/ESKlarheitGrotesk-Book.woff") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-Book.woff") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Book-italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-BookItalic.woff") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-BookItalic.woff") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Medium";
  src: url("../assets/fonts/ESKlarheitGrotesk-Medium.woff") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-Medium.woff") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Medium-Italic";
  src: url("../assets/fonts/ESKlarheitGrotesk-MediumItalic.woff") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-MediumItalic.woff") format("woff2");
}
@font-face {
  font-family: "ESKlarheit-Bold";
  src: url("../assets/fonts/ESKlarheitGrotesk-Bold.woff") format("woff"), url("../assets/fonts/ESKlarheitGrotesk-Bold.woff") format("woff2");
}
/*-----Margins-----*/
/*-----Paddings-----*/
/*-----Gap-----*/
/*-----Borders-----*/
/*-----Animations-----*/
/*-----Elevations-----*/
/*-----Links-----*/
/*-----Buttons-----*/
/*-----Grid-----*/
/*-----Forms-----*/
/*-----Cards-----*/
/*-----Inputs-----*/
/*-----Placeholder-----*/
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

/*-----Mobile-----*/
@media (max-width: 767px) {
  header {
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #fffdf8;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.12), 0 3px 14px rgba(0, 0, 0, 0.08), 0 5px 5px rgba(0, 0, 0, 0.14);
    flex-direction: row-reverse;
    position: fixed;
    left: 0;
    right: 0;
  }
  header .logo {
    z-index: 99;
    border-bottom: 0;
    color: #303030;
    font-family: "ESRebond";
    font-size: 1.25rem;
  }
  header .burger-menu {
    justify-self: flex-start;
    position: flex;
    z-index: 2;
    border: 0;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: transparent;
  }
  header .burger-menu:hover {
    background-color: transparent;
  }
  header .burger-menu:focus {
    outline: 0;
    border: 0;
  }
  header .burger-menu .menu-label {
    color: #303030;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 60%;
    font-family: "ESKlarheit-Bold";
    padding-top: 2px;
  }
  header .burger-menu #nav-icon {
    width: 30px;
    height: 21px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  header .burger-menu #nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #303030;
    border-radius: 0.25em;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  header .burger-menu #nav-icon span:nth-child(2), header .burger-menu #nav-icon span:nth-child(3) {
    top: 9px;
  }
  header .burger-menu #nav-icon span:nth-child(4) {
    top: 18px;
  }
  header .burger-menu #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  header .burger-menu #nav-icon.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  header .burger-menu #nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  header .burger-menu #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  header nav.horizontal {
    display: none;
  }
  header nav.vertical {
    position: absolute;
    margin: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 82, 215, 0.8) 0%, rgba(245, 116, 60, 0.8) 100%);
    background-color: white;
    display: flex;
    align-items: center;
  }
  header nav.vertical ul {
    width: 100%;
    padding: 1em;
    margin-left: 0;
    flex-direction: column;
    margin-top: 6em;
  }
  header nav.vertical ul li {
    list-style: none;
    line-height: 4;
  }
  header nav.vertical ul li a {
    padding: 0;
    border-bottom: none;
    color: #303030;
  }
  header nav.vertical ul li .logout-header {
    margin-top: 2em;
    border-top: 1.5px solid #303030;
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav.vertical ul li .logout-header .user-icon-link {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25em;
  }
  header nav.vertical ul li .logout-header .user-icon-link:hover {
    background-color: transparent;
  }
  header nav.vertical ul li .logout-header .user-icon-link #userIcon {
    border: 1.5px solid;
    padding: 0.5em;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
  header nav.vertical ul li .logout-header .user-icon-link #userIcon:hover {
    cursor: pointer;
  }
  header nav.vertical ul li .logout-header .user-icon-link p {
    margin: 0;
  }
}
/*-----Desktop-----*/
@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    padding: 0 2em;
  }
  header .logo {
    font-size: 1.5rem;
    font-family: "ESRebond";
    color: #303030;
    text-decoration: none;
    display: flex;
    align-items: center;
    grid-column: 1/2;
    border: none;
  }
  header .logo:focus {
    outline: 0;
    border: 0;
  }
  header .burger-menu {
    display: none !important;
  }
  header nav.horizontal {
    grid-column: 2/5;
  }
  header nav.horizontal ul {
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header nav.horizontal ul li {
    align-items: center;
    list-style: none;
    display: flex;
  }
  header nav.horizontal ul li a {
    font-family: "ESKlarheit-Medium";
    color: #303030;
    text-decoration: none;
    padding: 0.5em 1.5em;
    border-radius: 0.25em;
    border: none;
  }
  header nav.horizontal ul li a:hover {
    background-color: #ffe9fa;
  }
  header nav.horizontal ul li a.active {
    background-color: #fcdbce;
  }
  header nav.horizontal ul li .logout-header {
    display: flex;
    align-items: center;
    gap: 2em;
  }
  header nav.horizontal ul li .logout-header .user-icon-link {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25em;
  }
  header nav.horizontal ul li .logout-header .user-icon-link:hover {
    background-color: transparent;
  }
  header nav.horizontal ul li .logout-header .user-icon-link #userIcon {
    border: 1.5px solid;
    padding: 0.5em;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
  header nav.horizontal ul li .logout-header .user-icon-link #userIcon:hover {
    cursor: pointer;
  }
  header nav.horizontal ul li .logout-header .user-icon-link p {
    margin: 0;
  }
}
footer {
  background-color: #303030;
  color: #fffdf8;
  padding: 2em;
}
footer a {
  color: #fffdf8;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  footer {
    padding: 0.5em;
  }
}
.heading-area {
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin-top: 20vh;
}

.pretitle {
  font-family: "ESKlarheit-Bold";
  text-transform: uppercase;
  color: #f5733c;
  letter-spacing: 0.5px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.pretitle + h1, .pretitle + h2, .pretitle + h3 {
  margin-top: 0;
  padding-top: 0.25em;
}

h1 {
  max-width: 30ch;
}

p {
  margin-top: 0;
  max-width: 70ch;
}
p.subtitle {
  font-size: x-large;
}

a {
  text-decoration: none;
  color: #9637f0;
  border-bottom: 1.5px solid;
  font-family: "ESKlarheit-Medium";
  width: -moz-fit-content;
  width: fit-content;
}
a:hover {
  border: none;
}

sup {
  font-family: "ESKlarheit-Bold";
  padding: 0 0.5em;
  color: #9637f0;
  font-size: 60%;
}

.source {
  font-family: "ESKlarheit-Book-Italic";
  color: #303030;
  display: block;
  word-wrap: break-word;
  position: relative;
  display: inline-block;
  border-bottom: 3px solid transparent;
}
.source:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2' width='2' height='2'%3E%3Ccircle cx='1' cy='1' r='0.5' fill='%23303030' /%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 4px 3px;
}
.source:hover {
  position: relative;
  display: inline-block;
  border-bottom: 3px solid transparent;
}
.source:hover:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2' width='2' height='2'%3E%3Ccircle cx='1' cy='1' r='0.5' fill='%23303030' /%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 4px 3px;
}
.source:focus {
  border: 0;
  outline: 0;
}

.source-ref {
  margin-top: 2em;
  border-top: 1.5px solid;
  max-width: 70ch;
}
.source-ref li {
  font-size: 80%;
}
.source-ref li .source-title {
  font-family: "ESKlarheit-Medium-Italic";
}

/*-----Ratio Scale-----*/
h4,
.h4 {
  font-family: "ESKlarheit-Medium";
  font-size: 1.414rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-weight: 500;
  font-size: clamp(
        1rem,
        4.414vw + 1rem,
        1.414rem
      );
}

h3,
.h3 {
  font-family: "ESKlarheit-Medium";
  font-size: 1.999396rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-weight: 500;
  font-size: clamp(
        1.33959532rem,
        4.65980068vw + 1rem,
        1.999396rem
      );
}

h2,
.h2 {
  font-family: "ESKlarheit-Medium";
  font-size: 2.827145944rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-weight: 500;
  font-size: clamp(
        1.8941877825rem,
        4.9329581615vw + 1rem,
        2.827145944rem
      );
}

h1,
.h1 {
  font-family: "ESKlarheit-Medium";
  font-size: 3.9975843648rem;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-weight: 500;
  font-size: clamp(
        2.6783815244rem,
        5.3192028404vw + 1rem,
        3.9975843648rem
      );
}

.grid-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

/*-----Pain page----*/
.auteurice {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-left: -3em;
}
.auteurice .img-holder {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  background: linear-gradient(180deg, rgba(255, 82, 215, 0.8) 0%, rgba(245, 116, 60, 0.8) 100%);
}
.auteurice em {
  font-style: normal;
  font-family: "ESKlarheit-Medium-Italic";
}
.auteurice em a {
  font-style: normal;
  font-family: "ESKlarheit-Medium-Italic";
}

.pain-img,
.event-img {
  width: 100%;
  border-radius: 0.25em;
  -o-object-fit: cover;
     object-fit: cover;
}

/*-----Event page----*/
.event-img-text {
  font-size: 80%;
}

/*-----Lexique page----*/
.lexique-list {
  padding-left: 0;
}
.lexique-list .lexique-list-item {
  list-style: none;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-left {
    grid-column: 1/3;
  }
  .col-right {
    grid-column: 3/6;
  }
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding-bottom: 2em;
}
.card-grid .link-card {
  border-bottom: none;
  color: #303030;
  display: flex;
  width: 100%;
}
.card-grid .link-card:hover {
  opacity: 80%;
}
.card-grid .link-card .card {
  border: none;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  flex: max-content;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.12), 0 3px 14px rgba(0, 0, 0, 0.08), 0 5px 5px rgba(0, 0, 0, 0.14);
  overflow: hidden;
}
.card-grid .link-card .card h3,
.card-grid .link-card .card p {
  margin: 1rem;
  padding: 0;
}
.card-grid .link-card .card h3 {
  margin-bottom: 0.5em;
}
.card-grid .link-card .card h3 + p {
  padding-top: 0;
  margin-top: 0;
}
.card-grid .link-card .card img {
  max-width: 100%;
}
.card-grid .link-card .card .card-date,
.card-grid .link-card .card .card-location {
  text-align: center;
}

.pending-event-card {
  grid-column: 1/2;
  background-color: #faf5fe;
  border-radius: 0.25em;
  border: 1.5px solid #c896f7;
  padding: 1em;
  margin: 1em 0;
  height: -moz-fit-content;
  height: fit-content;
}
.pending-event-card .collapsed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
.pending-event-card .collapsed p {
  margin-bottom: 0;
}
.pending-event-card .pending-event-detail .pending-event-detail-content {
  margin-top: 1em;
}
.pending-event-card .button-flex {
  display: flex;
  gap: 1em;
  align-items: center;
}

button {
  padding: 0.5em 1.5em;
  border-radius: 0.25em;
  border: 1.5px solid;
  background-color: transparent;
  font-size: 16px;
  font-family: "ESKlarheit-Medium";
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
button:hover {
  background-color: #ffe9fa;
  border: transparent 1.5px solid;
}
button:disabled {
  background-color: #fffdf8;
  opacity: 60%;
  cursor: auto;
  border: 1.5px solid;
}

.button-countdown {
  margin: 1em 0 0;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: left;
}
.button-countdown p {
  padding: 0;
  margin: 0;
}

.show-counter {
  color: #9637f0;
  display: flex;
  gap: 2em;
}
.show-counter div {
  display: flex;
}

.action-container {
  display: flex;
  gap: 2em;
}
.action-container .action-button.active {
  border: transparent;
  background-color: #faf5fe;
}

input::-moz-placeholder {
  color: #b0b0b0;
  font-family: "ESKlarheit-Book";
}

input::placeholder {
  color: #b0b0b0;
  font-family: "ESKlarheit-Book";
}

.filter-dashboard {
  padding: 2em 0;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: flex-start;
}
.filter-dashboard .filter {
  display: flex;
  align-items: top;
  gap: 2em;
}
.filter-dashboard .filter-dropdown {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: left;
}
.filter-dashboard .filter-dropdown .input-icon {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

#chevron-icon.open {
  transform: rotate(90deg);
  transition: 0.4s;
}
#chevron-icon.close {
  transition: 0.4s;
}
#chevron-icon:hover {
  cursor: pointer;
}

.filter input,
.filter-dropdown input {
  color: #303030;
  border: 1.5px solid #9637f0;
  border-radius: 0.25em;
  font-family: "ESKlarheit-Book";
  font-size: 100%;
  background-color: #fffdf8;
  padding: 0.5em;
  width: 300px;
}
.filter input:focus,
.filter-dropdown input:focus {
  outline: none;
  border: 1.5px solid #c896f7;
}

.no-suggestions {
  color: #f5733c;
}

.suggestions {
  border-top-width: 0;
  list-style: none;
  margin-top: 2px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}
.suggestions li {
  padding: 0.5em 0.5em 0.5em 4.5rem;
  border-radius: 0.25em;
}
.suggestions li :not(:last-of-type) {
  border-bottom: 1px solid #9637f0;
}
.suggestions li:hover {
  color: #9637f0;
  cursor: pointer;
}
.suggestions .suggestion-active {
  color: #9637f0;
  cursor: pointer;
}

form {
  margin: 2em 0;
}
form.grid-form,
form .form-section {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, max-content);
}
form.grid-form .check-list,
form .form-section .check-list {
  margin-top: 0;
}
form.grid-form div select,
form.grid-form div input[type=text],
form.grid-form div input[type=password],
form.grid-form div input[type=file],
form.grid-form div input[type=date],
form.grid-form div input[type=datetime-local],
form.grid-form div input[type=number],
form.grid-form div input[type=tel],
form.grid-form div textarea,
form .form-section div select,
form .form-section div input[type=text],
form .form-section div input[type=password],
form .form-section div input[type=file],
form .form-section div input[type=date],
form .form-section div input[type=datetime-local],
form .form-section div input[type=number],
form .form-section div input[type=tel],
form .form-section div textarea {
  color: #303030;
  border: 1.5px solid #9637f0;
  border-radius: 0.25em;
  font-family: "ESKlarheit-Book";
  font-size: 100%;
  background-color: #fffdf8;
  padding: 0.5em;
  width: 300px;
}
form.grid-form div select:focus,
form.grid-form div input[type=text]:focus,
form.grid-form div input[type=password]:focus,
form.grid-form div input[type=file]:focus,
form.grid-form div input[type=date]:focus,
form.grid-form div input[type=datetime-local]:focus,
form.grid-form div input[type=number]:focus,
form.grid-form div input[type=tel]:focus,
form.grid-form div textarea:focus,
form .form-section div select:focus,
form .form-section div input[type=text]:focus,
form .form-section div input[type=password]:focus,
form .form-section div input[type=file]:focus,
form .form-section div input[type=date]:focus,
form .form-section div input[type=datetime-local]:focus,
form .form-section div input[type=number]:focus,
form .form-section div input[type=tel]:focus,
form .form-section div textarea:focus {
  outline: none;
  border: 1.5px solid #c896f7;
}
form.grid-form div select::-moz-placeholder, form.grid-form div input[type=text]::-moz-placeholder, form.grid-form div input[type=password]::-moz-placeholder, form.grid-form div input[type=file]::-moz-placeholder, form.grid-form div input[type=date]::-moz-placeholder, form.grid-form div input[type=datetime-local]::-moz-placeholder, form.grid-form div input[type=number]::-moz-placeholder, form.grid-form div input[type=tel]::-moz-placeholder, form.grid-form div textarea::-moz-placeholder, form .form-section div select::-moz-placeholder, form .form-section div input[type=text]::-moz-placeholder, form .form-section div input[type=password]::-moz-placeholder, form .form-section div input[type=file]::-moz-placeholder, form .form-section div input[type=date]::-moz-placeholder, form .form-section div input[type=datetime-local]::-moz-placeholder, form .form-section div input[type=number]::-moz-placeholder, form .form-section div input[type=tel]::-moz-placeholder, form .form-section div textarea::-moz-placeholder {
  color: #b0b0b0;
  font-family: "ESKlarheit-Book";
}
form.grid-form div select::placeholder,
form.grid-form div input[type=text]::placeholder,
form.grid-form div input[type=password]::placeholder,
form.grid-form div input[type=file]::placeholder,
form.grid-form div input[type=date]::placeholder,
form.grid-form div input[type=datetime-local]::placeholder,
form.grid-form div input[type=number]::placeholder,
form.grid-form div input[type=tel]::placeholder,
form.grid-form div textarea::placeholder,
form .form-section div select::placeholder,
form .form-section div input[type=text]::placeholder,
form .form-section div input[type=password]::placeholder,
form .form-section div input[type=file]::placeholder,
form .form-section div input[type=date]::placeholder,
form .form-section div input[type=datetime-local]::placeholder,
form .form-section div input[type=number]::placeholder,
form .form-section div input[type=tel]::placeholder,
form .form-section div textarea::placeholder {
  color: #b0b0b0;
  font-family: "ESKlarheit-Book";
}
form.grid-form select,
form .form-section select {
  min-width: 100%;
  grid-column: 1/2;
}
form.grid-form .user-type,
form .form-section .user-type {
  grid-column: 1/5;
}
form.grid-form .user-name-label,
form.grid-form .user-email-label,
form .form-section .user-name-label,
form .form-section .user-email-label {
  grid-column: 1/2;
}
form.grid-form .user-name-input,
form .form-section .user-name-input {
  grid-column: 2/3;
}
form.grid-form .user-website-label,
form .form-section .user-website-label {
  grid-column: 1/2;
}
form.grid-form .user-avatar-label,
form.grid-form .user-password-label,
form.grid-form .submit-button,
form .form-section .user-avatar-label,
form .form-section .user-password-label,
form .form-section .submit-button {
  grid-column: 1/2;
}
form.grid-form .user-password-requirements,
form .form-section .user-password-requirements {
  grid-column: 3/5;
}
form.grid-form .conditions-generales,
form .form-section .conditions-generales {
  grid-column: 1/5;
}
form.grid-form h2,
form .form-section h2 {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}
form.grid-form .form-section,
form .form-section .form-section {
  padding: 2em 2em;
  grid-column: 1/2;
  background-color: #faf5fe;
  border-radius: 0.25em;
  border: 1.5px solid #c896f7;
}
form.grid-form .form-section h3,
form .form-section .form-section h3 {
  margin-top: 0;
  display: flex;
  align-items: center;
  grid-column: 1/5;
}
form.grid-form .form-section p,
form .form-section .form-section p {
  grid-column: 1/5;
}
form.grid-form .flex-center,
form .form-section .flex-center {
  display: flex;
  align-items: center;
  gap: 2em;
}
form.grid-form .event-title-label,
form.grid-form .event-shortDef-label,
form.grid-form .event-longDef-label,
form.grid-form .event-address-label,
form.grid-form .event-type-label,
form.grid-form .event-onlineMeeting-label,
form.grid-form .event-region-label,
form.grid-form .event-tel-label,
form.grid-form .event-entry-label,
form .form-section .event-title-label,
form .form-section .event-shortDef-label,
form .form-section .event-longDef-label,
form .form-section .event-address-label,
form .form-section .event-type-label,
form .form-section .event-onlineMeeting-label,
form .form-section .event-region-label,
form .form-section .event-tel-label,
form .form-section .event-entry-label {
  grid-column: 1/2;
}
form.grid-form .event-title-input,
form .form-section .event-title-input {
  grid-column: 2/3;
}
form.grid-form .event-date-label,
form .form-section .event-date-label {
  grid-column: 3/4;
}
form.grid-form .event-date-input,
form .form-section .event-date-input {
  grid-column: 4/5;
}
form.grid-form .event-date-input input,
form .form-section .event-date-input input {
  box-sizing: border-box;
  width: calc(100% - 1px);
}
form.grid-form .event-shortDef-input,
form.grid-form .event-longDef-input,
form .form-section .event-shortDef-input,
form .form-section .event-longDef-input {
  grid-column: 2/5;
  display: flex;
}
form.grid-form .event-shortDef-input textarea,
form.grid-form .event-longDef-input textarea,
form .form-section .event-shortDef-input textarea,
form .form-section .event-longDef-input textarea {
  box-sizing: border-box;
  width: calc(100% - 1px);
}
form.grid-form .form-dropdown-suggestions,
form .form-section .form-dropdown-suggestions {
  grid-column: 2/5;
}
form.grid-form .form-dropdown-suggestions li,
form .form-section .form-dropdown-suggestions li {
  padding-left: 0 !important;
}

.user-avatar {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-placeholder {
  background-image: url("../assets/images/default-avatar.jpg");
  background-size: contain;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.check-list {
  line-height: 2.5;
  list-style: none;
  padding-left: 0;
}
.check-list li {
  display: flex;
  align-items: center;
}

.user-email-requirements,
.user-password-error {
  grid-column: 3/4;
  display: flex;
  align-items: center;
}
.user-email-requirements .msg,
.user-password-error .msg {
  display: flex;
  margin: 0;
}

.form-check-input {
  margin-right: 0.5em;
  width: 1.5em;
  height: 1.5em;
  vertical-align: top;
  background-position: center;
  border: 2px solid #c896f7;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25em;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #9637f0;
  outline: 0;
  box-shadow: 0 0 0 0.15em #c896f7;
}
.form-check-input:checked {
  background-color: #9637f0;
  border-color: #9637f0;
}

.form-check-input[type=checkbox]:disabled {
  opacity: 30%;
}

.form-check-input {
  background-color: white;
}

.form-check-input[type=radio] {
  border-radius: 50%;
  background-color: #9637f0;
}

.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.userProfile-info {
  display: flex;
  gap: 2em;
  align-items: center;
  padding: 2em 0;
}
.userProfile-info .userProfile-avatar {
  height: 10rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.msg {
  margin: 2em 0;
  font-family: "ESKlarheit-Medium";
}
.msg.success {
  color: mediumseagreen;
}
.msg.success:before {
  content: "👏  ";
}
.msg.reminder {
  color: DarkGoldenRod;
}
.msg.reminder:before {
  content: "🔔  ";
}
.msg.pending {
  color: mediumslateblue;
}
.msg.pending:before {
  content: "⌛  ";
}
.msg.warning {
  color: tomato;
}
.msg.warning:before {
  content: "⚠️  ";
}
.msg.archived {
  color: dimgrey;
}
.msg.archived:before {
  content: "📁  ";
}
.msg.error {
  color: crimson;
}
.msg.error:before {
  content: "🚨  ";
}
.msg.info {
  color: steelblue;
}
.msg.info:before {
  content: "ℹ️  ";
}

.error-list {
  display: none;
}
.error-list li {
  margin: 0;
  padding: 0;
}

.error-list:not(:empty) {
  display: block;
  padding: 0;
  line-height: 2;
  color: crimson;
  grid-column: 1/2;
}
.error-list:not(:empty) li {
  font-family: "ESKlarheit-Medium";
  list-style: none;
}
.error-list:not(:empty) li:before {
  content: "🚨  ";
}

/*-----Mobile-----*/
@media (max-width: 767px) {
  .breadcrumbs {
    display: flex;
    color: #b0b0b0;
  }
  .breadcrumbs .crumb:after {
    color: #303030;
    content: "→";
    padding: 0 0.5em;
  }
  .breadcrumbs .crumb:last-child:after {
    display: none;
  }
}
/*-----Desktop-----*/
@media (min-width: 768px) {
  .breadcrumbs {
    font-size: 80%;
    grid-column: 1/6;
    display: flex;
    color: #b0b0b0;
  }
  .breadcrumbs .crumb:after {
    color: #303030;
    content: "→";
    padding: 0 0.5em;
  }
  .breadcrumbs .crumb:last-child:after {
    display: none;
  }
}
.pain-illu-cover {
  width: 100%;
  border-radius: 0.25em;
  aspect-ratio: 16/6;
  -o-object-fit: cover;
     object-fit: cover;
}

figure {
  margin: 0;
  padding: 0;
}
figure span {
  margin: 0;
  font-family: "ESKlarheit-Medium-Italic";
  font-style: normal;
  height: -moz-fit-content;
  height: fit-content;
}
figure span a {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "ESKlarheit-Medium-Italic";
  width: fit-content;
  font-style: normal;
}

.category-submenu {
  width: -moz-fit-content;
  width: fit-content;
  grid-column: 1/2 !important;
  grid-row: 3/4;
  margin-top: 0;
  text-align: right;
}
.category-submenu h4 {
  margin: 0;
}
.category-submenu li {
  list-style: none;
}
.category-submenu li:after {
  content: " ↗";
}

.tabbed-navigation-banner {
  display: flex;
  flex-direction: column;
}

.tabbed-navigation-container {
  margin: 1em 0;
  z-index: 99;
  top: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  transition: none;
}
.tabbed-navigation-container.sticky {
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 120ch;
  align-self: center;
  justify-self: center;
  transition: width 400ms ease-out;
}
.tabbed-navigation-container .tabbed-navigation {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: flex-start;
  border-radius: 40px;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
}
.tabbed-navigation-container .tabbed-navigation p {
  display: flex;
  align-items: center;
  padding: 0.5em 1.5em;
  margin-bottom: 0;
  opacity: 30%;
}
.tabbed-navigation-container .tabbed-navigation a {
  color: #303030;
  padding: 0.5em 1.5em;
  transition: 0.4s;
  display: inline-flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 40px;
  line-height: 44px;
  text-decoration: initial;
  cursor: pointer;
  vertical-align: middle;
}
.tabbed-navigation-container .tabbed-navigation a:focus {
  outline: 0;
  border: 0;
}
.tabbed-navigation-container .tabbed-navigation a:hover {
  background-color: #e1c5fb;
}
.tabbed-navigation-container .tabbed-navigation a.active {
  background-color: #9637f0;
  color: white;
}
.tabbed-navigation-container .tabbed-navigation a.active:hover {
  background-color: #8a1fee;
}

.sticky + .article {
  padding-top: 10vh;
}

.article {
  animation: opacityAnimation 500ms ease-in;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  gap: 0;
  flex-direction: column;
  margin-top: 10vh;
}
.article * {
  grid-column: 2/5;
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
* {
  outline: none;
}
*:focus {
  border: 1.5px solid #fcdbce;
}
*::-moz-selection {
  color: #fffdf8;
  background: #303030;
}
*::selection {
  color: #fffdf8;
  background: #303030;
}

html {
  margin: 0;
  padding: 0;
  background-color: #fffdf8;
  color: #303030;
  font-family: "ESKlarheit-Book";
  line-height: 1.5;
  font-size: 16px;
  height: auto;
}
html strong {
  font-family: "ESKlarheit-Medium";
  font-weight: 500;
}
html body {
  margin: 0;
  padding: 0;
  height: auto;
}
html body .main {
  padding: 10vh 2em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*-----Mobile-----*/
@media (max-width: 767px) {
  .main {
    padding: 1em;
  }
}/*# sourceMappingURL=globals.css.map */